<div ng-controller="albumsController as view" class="container container-fluid">

    <button class="btn btn-sm btn-success pull-right" ng-click="view.addAlbum()"><i class="fa fa-plus"></i> Add Album</button>
    <div class="page-header-text"><i class="fa fa-list"></i> Albums <span class="badge">{{view.albums.length}}</span></div>

    <hr style="margin-top: 6px;" />
    
    <!-- use a custom $scope filter to search only artist and album name instead of filter: view.searchText -->
    <div class="album" ng-repeat="album in view.albums | filter: view.albumsFilter:view.searchText">
        <div class="album-overlay">
            <a href="#/album/edit/{{album.Id}}"><i class="fa fa-edit" title="Edit"></i></a> &nbsp;
            <a ng-click="view.deleteAlbum(album)"><i class="fa fa-remove" title="Delete"></i></a>
        </div>
        <div ng-click="view.albumClick(album)">
            <img ng-src="{{album.ImageUrl}}" class="album-image" />
            <div style="padding-left: 80px;">
                <div class="album-title">{{album.Title}}</div>
                <div class="album-artist">by {{album.Artist.ArtistName}} {{(album.Year ? 'in ' + album.Year : '')}}</div>
                <div class="album-descript">{{album.Description}}</div>
            </div>
        </div>
    </div>
</div>