<div ng-controller="artistsController as view" class="container container-fluid">
    

    <div class="list-group">
        <a href="#" class="list-group-item active">
            <i class="fa fa-list"></i> Artists
        </a>

        <a class="list-group-item"
           ng-repeat="artist in view.artists | filter: view.searchText "
           href="#/artist/{{artist.pk}}" style="overflow:hidden;max-height: 50px;">
            <span class="badge">{{artist.count}}</span>
            {{artist.artistname}}
        </a>
    </div>


</div>