<div ng-controller="albumController as view" class="container">

    <div class="btn-group" style="margin-bottom: 10px;">
        <a href="#/albums" class="btn btn-sm btn-default"><i class="fa fa-list"></i> List</a>
        <a ng-hide="view.album.pk == 0" href="#/album/{{view.album.Id}}" class="btn btn-sm btn-default"><i class="fa fa-eye"></i> View</a>
        <a ng-hide="view.album.pk == 0" href="{{view.album.AmazonUrl}}" class="btn btn-sm btn-default"><i class="fa fa-dollar"></i> Buy</a>
        <a ng-hide="view.album.pk == 0" href="#" ng-click="" class="btn btn-sm btn-default"><i class="fa fa-remove"></i> Delete</a>
    </div>

    <div class="separator"></div>

    <div class="alert alert-dismissable alert-{{view.error.icon}}"
         ng-show="view.error.message"
         role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <span ng-bind="view.error.message"></span>
    </div>


    <div class="row">

        <div class="col-sm-5">
            <form name="form1" action="javascript:{}" novalidate>
                <div class="form-group">
                    <label for="AlbumName">Album Name:</label>
                    <input id="AlbumName" type="text" class="form-control input-sm"
                           placeholder="Album Name" required
                           ng-model="view.album.Title" autofocus />                    
                    
                </div>
                <div class="form-group">
                    <label for="BandName">Band Name:</label>
                    <input type="text" class="form-control input-sm typeahead" id="BandName"
                           required
                           autocomplete="off"
                           data-provide="typeahead"
                           placeholder="Band Name" ng-model="view.album.Artist.ArtistName" />


                </div>
                <div class="form-group">
                    <label for="Description">Album Description:</label>
                    <textarea class="form-control input-sm" id="Description"
                              placeholder="Album description or review"
                              required
                              ng-model="view.album.Description"
                              style="height: 115px"></textarea>

                </div>

                <div class="form-group">
                    <label for="AmazonUrl">Amazon Url:</label>
                    <input type="text" class="form-control input-sm" id="AmazonUrl"
                           required
                           placeholder="Amazon Url" ng-model="view.album.AmazonUrl"/>
                </div>
                <div class="form-group">
                    <label for="ImageUrl">Image Url:</label>
                    <input type="text" class="form-control input-sm" id="ImageUrl"
                           required
                           placeholder="Image Url" ng-model="view.album.ImageUrl"/>
                </div>

                <div class="form-group">
                    <label for="YearReleased">Year released:</label>
                    <input type="number" class="form-control input-sm" id="YearReleased"
                           required
                           placeholder="Year of album release" ng-model="view.album.Year"/>
                </div>

                <button ng-click="view.addSong()" accesskey="a"
                        ng-show="!view.isSongVisible" title="Add Song (alt-a)"
                        class="btn btn-info btn-xs" style="margin-bottom: 10px;">
                    <i class="fa fa-plus-circle"></i> Add Song
                </button>

                <div ng-show="view.isSongVisible" class="well well-sm">

                    <div class="row">
                        <div class=" col-sm-9">
                            <input class="form-control input-sm" id="SongName"
                                   placeholder="Name of the song"
                                   ng-model="view.song.SongName"/>

                        </div>
                        <div class="col-sm-3">
                            <input class="form-control input-sm" id="Length"
                                   ng-model="view.song.Length"
                                   placeholder="0:00"/>
                        </div>
                    </div>

                    <button class="btn btn-success btn-xs"
                            ng-click="view.saveSong(view.song)"
                            ng-disabled="!view.song.SongName || !view.song.Length"
                            style="margin-top: 8px;" accesskey="">
                        <i class="fa fa-plus-circle"></i> Add Song
                    </button>
                    <button class="btn btn-default btn-xs"
                            ng-click="view.cancelSong()"
                            style="margin-top: 8px;">
                        <i class="fa fa-times"></i> Cancel
                    </button>
                </div>

                <table class=" table table-striped small">
                    <tr ng-repeat="song in view.album.Tracks">
                        <td>{{song.SongName}}</td>
                        <td>{{song.Length}}</td>
                        <td>
                            <button ng-click="view.removeSong(song)"
                                    class="btn btn-xs btn-danger">
                                <i class="fa fa-remove"></i> Remove
                            </button>
                        </td>
                    </tr>
                </table>


                <div class="well well-sm">
                    <button type="submit" ng-click="view.saveAlbum(view.album)"
                            class="btn btn-success"
                            ng-disabled="form1.$invalid" accesskey="S">
                        <i class="fa fa-check"></i> Save
                    </button>
                    <a ng-href="#/album/{{view.album.Id}}" class="btn btn-default">
                        <i class="fa fa-remove"></i> Cancel
                    </a>
                </div>

                <div class="separator"></div>

            </form>
        </div>

        <div class="col-sm-7">
            <h3>Preview</h3>
            <img ng-src="{{view.album.ImageUrl}}" class="album-image-big"/>
            <div style="margin-top: 10px;">
                <h2 class="album-title-big">{{view.album.Title}}</h2>
                <div class="album-artist">by {{view.album.Artist.ArtistName}} {{(view.album.Year ? 'in ' + view.album.Year : '')}}
                    - <a ng-href="{{view.album.AmazonUrl}}" ng-hide="!view.album.AmazonUrl"><i class="fa fa-dollar"></i> Buy on Amazon</a>
                </div>
                <div class="album-descript" ng-bind-html="view.album.Description | linebreakFilter"></div>

                <hr/>

                <table class=" table table-striped small">
                    <tr ng-repeat="song in view.album.Tracks">
                        <td>{{song.SongName}}</td>
                        <td>{{song.Length}}</td>
                    </tr>
                </table>

            </div>
        </div>
    </div>

</div>

<script>
        
</script>
