<div class="container">
    <style>
        h4 {
            color: steelblue;
            font-weight: bold;
        }
    </style>
    <h3>
        <i class="fa fa-info"></i>  About the AlbumViewer Sample
    </h3>

    <div class="well well-sm">
        <h4>FoxPro Web Connection wwRestService backend</h4>
        <p>
            This application runs a Web Connection server with a
            wwRestService based JSON Service backend. Service contains
            simple methods that receive a single parameter input that
            is auto-parsed and return objects/lists/cursor that are
            turned automatically into JSON
        </p>        
    </div>

    <div class="well well-sm">
        <h4>Angular JS Front End</h4>
        <p>
            The client interface uses Angular JS to provide the front en logic and
            UI management features. There are album and artist services that
            talk to the backend interface and page level controllers for each
            of the individual view pages of the application.
        </p>
    </div>

    <div class="well well-sm">
        <h4>Mobile enabled based on modified Bootstrap Interface</h4>
        <p>
            The base Bootstrap framework is used for the core UI features
            of the interface. The base template has been customized for
            this application.
        </p>
        <p>
            The application is mobile focused and uses custom resizing
            and toolbar relocation based on the screen/device size used.
            The application should be comfortably usable from phone up to full screen
            desktop applications.
        </p>
    </div>

    <hr />
    <a href="#/albums">Back to Application</a>

</div>