<div ng-controller="albumController as view" class="container">

    <div class="btn-group" style="margin-bottom: 10px;">
        <a href="#/albums" class="btn btn-sm btn-default"><i class="fa fa-list"></i> List</a>
        <a href="#/album/edit/{{view.album.Id}}" class="btn btn-sm btn-default"><i class="fa fa-edit"></i> Edit</a>
        <a href="{{view.album.AmazonUrl}}" class="btn btn-sm btn-default"><i class="fa fa-dollar"></i> Buy</a>
        <button ng-click="view.deleteAlbum(view.album)" class="btn btn-sm btn-default"><i class="fa fa-remove"></i> Delete</button>
    </div>

    <div class="separator"></div>


    <div class="row">
        <div class="col-sm-3">
            <img ng-src="{{view.album.ImageUrl}}" class="album-image-big" />
        </div>
        <div class="col-sm-9">
            <h2 class="album-title-big">
                {{view.album.Title}}
            </h2>

            <div class="album-artist">

                by <a href="#/artist/{{view.album.ArtistId}}">{{view.album.Artist.ArtistName}}</a>
                {{(view.album.Year ? 'in ' + view.album.Year : '')}}
            </div>
            <div ng-bind-html="view.album.Description | linebreakFilter"></div>

            <hr />

            <table class=" table table-striped small">
                <tr ng-repeat="song in view.album.Tracks">
                    <td>{{song.SongName}}</td>
                    <td>{{song.Length}}</td>
                </tr>
            </table>

            <hr />
            More from
            <a href="#/artist/{{view.album.ArtistId}}">{{view.album.Artist.ArtistName}}<br/>            
                <img ng-src="{{view.album.Artist.ImageUrl}}" style="height: 100px; border-radius: 5px;box-shadow: 2px 2px 3px #535353" />
            </a>
        </div>
    </div>
</div>