<div ng-controller="artistController as view" class="container">

    <div class="btn-group" style="margin-bottom: 10px;">
        <a href="#/artists" class="btn btn-sm btn-default"><i class="fa fa-list"></i> Artists</a>
        <a href="javascript:{}" data-toggle="modal" data-target="#EditModal" class="btn btn-sm btn-default"><i class="fa fa-edit"></i> Edit</a>
        
        <button ng-click="view.deleteArtist(view.artist)" class="btn btn-sm btn-default"><i class="fa fa-remove"></i> Delete</button>
    </div>

    <div class="alert alert-dismissable alert-{{view.error.icon}}"
         ng-show="view.error.message"
         role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <span ng-bind="view.error.message"></span>
    </div>

    <h2>{{view.artist.ArtistName}}</h2>

    <div class="separator"></div>

    <div class="row">
        <div class="col-sm-3">
            <img ng-src="{{view.artist.ImageUrl}}"
                 style="width: 97%; margin-bottom: 8px;border-radius: 4px; box-shadow: 2px 2px 4px #535353" />
        </div>
        <div class="col-sm-8" ng-bind-html="view.artist.Description | linebreakFilter"></div>
    </div>

    <h3>Albums</h3>
    <div class="separator"></div>

    <div class="album" ng-repeat="album in view.albums | filter: view.searchText "
         ng-click="view.albumClick(album)">
        <div class="album-overlay">
            <a href="#/album/edit/{{album.Id}}"><i class="fa fa-edit" title="Edit"></i></a> &nbsp;
            <a ng-click="view.deleteAlbum(album)"><i class="fa fa-remove" title="Delete"></i></a>
        </div>
        <div>
            <img ng-src="{{album.ImageUrl}}" class="album-image" />
            <div style="padding-left: 80px;">
                <div class="album-title">{{album.Title}}</div>
                <div class="album-artist">
                    {{(album.Year ? 'in ' + album.Year : '')}}
                </div>
                <div class="album-descript">{{album.Description}}</div>
            </div>
        </div>
    </div>

    <button class="btn btn-sm btn-success" ng-click="view.addAlbum()"><i class="fa fa-plus"></i> Add Album</button>

    <!-- Modal -->
    <div class="modal fade" id="EditModal"
         tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="myModalLabel">Artist Info</h3>
                </div>
                <div class="modal-body">
                    <form name="form1" action="javascript:{}" novalidate>

                        <div class="form-group">
                            <label for="ArtistName">Artist Name:</label>
                            <input id="AlbumName" type="text"
                                   class="form-control input-sm"
                                   placeholder="Artist Name" required
                                   ng-model="view.artist.ArtistName" />
                        </div>

                        <div class="form-group">
                            <label for="Descript">Bio:</label>
                            <textarea type="text" class="form-control input-sm" id="Descript"
                                      required
                                      style="height: 80px;"
                                      placeholder="Band Bio" ng-model="view.artist.Description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="ImageUrl">Image Url:</label>
                            <input type="text" class="form-control input-sm" id="ImageUrl"
                                   placeholder="Image Url" ng-model="view.artist.ImageUrl" />
                        </div>
                        <div class="form-group">
                            <label for="AmazonUrl">Amazon Url:</label>
                            <input type="text" class="form-control input-sm" id="AmazonUrl"
                                   placeholder="Link to Artist Amazon Page" ng-model="view.artist.AmazonUrl" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-remove"></i> Cancel</button>
                    <button type="button" class="btn btn-primary" ng-disabled="form1.$invalid" accesskey="S"
                            ng-click="view.saveArtist(view.artist)">
                        <i class="fa fa-check"></i> Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>


</div>