USE [MusicStore]
GO
/****** Object:  Table [dbo].[Albums]    Script Date: 12/28/2014 11:45:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Albums](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ArtistId] [int] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Year] [int] NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[AmazonUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_Albums] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Artists]    Script Date: 12/28/2014 11:45:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artists](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ArtistName] [nvarchar](100) NULL,
	[Description] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[AmazonUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_Artists] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tracks]    Script Date: 12/28/2014 11:45:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tracks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ArtistId] [int] NOT NULL,
	[AlbumId] [int] NOT NULL,
	[SongName] [nvarchar](max) NULL,
	[Length] [nvarchar](10) NULL,
	[Bytes] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Tracks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Albums] ON 

GO
INSERT [dbo].[Albums] ([Id], [ArtistId], [Title], [Description], [Year], [ImageUrl], [AmazonUrl]) VALUES (4, 1, N'Let There Be Rock', N'This album came screaming out of Australia in 1977! AC/DC''s first stab at a "real" album - a break from the early "novelty" approach to songwriting and a move to the more focused album-oriented view that the band would perfect.

Let There Be Rock, the fourth AC/DC album -- and first to see simultaneous international release -- is as lean and mean as the original lineup ever got. Shaved down to the bone -- there are only eight tracks, giving this a lethal efficiency even with a couple of meandering jams -- this is a high-voltage, brutal record, filled with "Bad Boy Boogie." It has a bit of a bluesier edge than other AC/DC records, but this is truly the sound of the band reaching its peak. There''s the near majesty of "Let There Be Rock," there''s Bon Scott acknowledging with a wink that "Hell Ain''t a Bad Place to Be," and then there''s the monumental "Whole Lotta Rosie." Which gets down to a key thing about AC/DC. If Led Zeppelin were celebrating a "Whole Lotta Love," AC/DC got down to the grimy details in their leering tribute to the joys of sex with a plus-sized woman. And that''s AC/DC''s allure in a nutshell -- it''s sweaty, dirty, nasty rock, music that is played to the last call and beyond, and they''ve rarely done that kind of rock better than they did here.', 1977, N'https://images-na.ssl-images-amazon.com/images/I/51ndkC4IocL._SL250_.jpg', N'http://www.amazon.com/gp/product/B00008WT5C/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B00008WT5C&linkCode=as2&tag=westwindtechn-20&linkId=UUOA6PIXN72MNU6E')
GO
INSERT [dbo].[Albums] ([Id], [ArtistId], [Title], [Description], [Year], [ImageUrl], [AmazonUrl]) VALUES (12, 9, N'Répression', N'The confirmation! TRUST pushes further the limits already established with their first LP, and nobody is laughing anymore...

Now we have to take into account these young people who don''t hesitate to provoke and to give their opinions with noise.
And they will take advantage of this position to cross the borders and to share their music with the world in releasing an English version of this LP.

Radio and TV show more and more interest in them and these ones will make a popular hymn of "Antisocial".
It''s right that the ones who discredited TRUST in 1979 now flatter them. What a great step made in only one year. The sound is more elaborated, the songs are still engaged and the band shoot at all the issues, in particular with "M.Comedy", "Pick Me Up, Put Me Down", "Sects"...

And they also use an extract of Jacques MESRINE''s book, in order to write "Le Mitard" ( Jacques MESRINE was the French public enemy n°1 at this moment ).
They begin to be censorship''s victims because they disturb during President GISCARD''s years.
From this LP, the following tracks will remain in the fans memory : "M.Comedy", "Paris Is Still Burning", "Le Mitard", "Death Instinct" and.......of course "Antisocial".', 1978, N'https://images-na.ssl-images-amazon.com/images/I/51bJLbC8afL._SL250_.jpg', N'http://www.amazon.com/gp/product/B001EWKPNA/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B001EWKPNA&linkCode=as2&tag=westwindtechn-20&linkId=2EK2VYMEMARJU4GU')
GO
INSERT [dbo].[Albums] ([Id], [ArtistId], [Title], [Description], [Year], [ImageUrl], [AmazonUrl]) VALUES (13, 9, N'Préfabriqués', N'Its release in 1979, acted like a bomb effect. The sound is rough, the recordings were done in 15 days, nearly in live conditions...but the result is there, and the public''s answer is quick. It''s true that the first LP was greatly helped by a tour and some notorious acts, like a gig at the Fleury Merogis prison.
Little regrets however for the fans from the first hours, the LP doesn''t contain some classics as "Prends pas ton flingue", "Paris by Night" ( which ones were already on the first single ), and especially "Seventeen" and "Telex" who will never been released in the future...
Although this first shot gives us some undying tracks : "Prefabricated" and its memorable drum break, "Bosser 8 heures" and its killer lyrics, "Police Milice" ( no comments....)and particularly "L''Elite" and its epic guitar solo which would become a reference in the whole rock scene...
First LP for a band that was already considered as a future major band for some people and straw fire for the others...
Only the future would prove that these musicians who were considered as "pimply young students without brains" acted right by putting their hope in a band that had the courage and the strength to shout loudly its ideas.', 1979, N'https://images-na.ssl-images-amazon.com/images/I/410Ni47gsaL._SL250_.jpg', N'http://www.amazon.com/gp/product/B001EWD1TK/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B001EWD1TK&linkCode=as2&tag=westwindtechn-20&linkId=ZAXNJ4AILVEBT46V')
GO
INSERT [dbo].[Albums] ([Id], [ArtistId], [Title], [Description], [Year], [ImageUrl], [AmazonUrl]) VALUES (511, 327, N'Condemned 2 Death', N'Rocking out after a hefty hiatus for a release on Nuclear Blast Records, CONDEMNED? is proving that although the years may have passed, they can still thrash with the best of them.

Condemned 2 Death is a collection of songs new and old that cover 25 years of time. The music has much more of a metal feel, while paying plenty of tribute to Condemned''s hardcore punk rock roots. This record has moments of genius with various complex riff arrangements mixed with tap your foot catchy sections. Standouts are Aggressive System with it''s old school Discharge, Anti-social with it''s punky and catchy chorus, Cavern in Time and Emotional Blurr with their intensly heavy riffs. 

Overall this album is a delightful mix of Metal and Punk Rock lore that got not nearly enough attention from fans or press.', 0, N'http://ecx.images-amazon.com/images/I/61CMcYAP%2BQL._SL500_AA280_.jpg', N'http://www.amazon.com/gp/product/B004MC5YEY/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B004MC5YEY&linkCode=as2&tag=westwindtechn-20')
GO
INSERT [dbo].[Albums] ([Id], [ArtistId], [Title], [Description], [Year], [ImageUrl], [AmazonUrl]) VALUES (512, 328, N'Animosity', N'One of the best punk metal cross-over albums ever made and maybe *the* album that defined the genre.

Corrosion of Conformity was one of the first bands to fully embrace both their punk rock roots as well as much heavier tones and rhythms of new school metal bands, combining both the social messaging and furious speed of punk, with the heavy guitars and drums of the metal world. 

Animosity is a testament to the best of those two worlds colliding, which resulted in a masterpiece of energy, angst and furor that has not been matched very often ever since.', 0, N'http://ecx.images-amazon.com/images/I/61ngIfFbnyL._SL500_AA300_.jpg', N'http://www.amazon.com/gp/product/B000001C88/ref=as_li_ss_tl?ie=UTF8&tag=westwindtechn-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=B000001C88')
GO
INSERT [dbo].[Albums] ([Id], [ArtistId], [Title], [Description], [Year], [ImageUrl], [AmazonUrl]) VALUES (659, 632, N'Act III', N'Act III is the third studio album by the thrash metal band Death Angel, released in 1990 on Geffen Records. Regarded by many critics and fans as the band''s finest effort, the album was produced by famed metal producer Max Norman (Ozzy Osbourne, Megadeth, Loudness), and marked the first (and only) major label release by Death Angel. The album spawned the singles "Seemingly Endless Time" and "A Room with a View", with both songs receiving music videos and airplay on MTV''s Headbangers Ball. Songs like "Discontinued" incorporate elements of funk.

On tour in support of Act III in 1991, the band suffered a serious tour bus crash in which drummer Andy Galeon was critically injured. During his yearlong recovery, singer Mark Osegueda left the band, effectively ending Death Angel. In 2001, the band reunited for Testament singer Chuck Billy''s Thrash of the Titans benefit concert (minus Gus Pepa) and went on to release The Art of Dying in 2004, followed by three more albums.', 1990, N'https://images-na.ssl-images-amazon.com/images/I/51xWXhuTiZL._SL250_.jpg', N'http://www.amazon.com/gp/product/B0085LGSD4/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B0085LGSD4&linkCode=as2&tag=westwindtechn-20&linkId=FFHUXDGAYHSQRISL')
GO
INSERT [dbo].[Albums] ([Id], [ArtistId], [Title], [Description], [Year], [ImageUrl], [AmazonUrl]) VALUES (1644, 631, N'Melissa', N'Technically, Mercyful Fate''s debut LP is slightly patchy and derivative, particularly of early Black Sabbath and Judas Priest, although in parts it is more ambitious than those bands'' major works, in a `proggy'' kind of way. It also sounds a bit dated in parts. In terms of originality, craftsmanship, instrumental prowess, and King Diamond''s application of his unique and controversial voice and vocal range, it was comprehensively surpassed by Diamond''s later solo classics (particularly Them, Conspiracy, and The Eye), and even by Mercyful Fate''s 1993 reunion album, In The Shadows (although I prefer the more dynamic rhythm section on Melissa than those on The Eye or In The Shadows).
What puts this album in a supreme league of its own is a wickedly powerful aura that builds up throughout the album, which is something that no amount of musica training can achieve, and no review can adequately reflect. Reviewer ''stevex3'' gives us a taste when he says ''I''m sure that this CD gets played at every gathering of demons, but you really cannot have any idea what that means unless you experience this album for yourself (preferably played loud in the dark), as different people will experience it differently, and will undoubtedly have a hard time explaining their experience.', 1982, N'https://images-na.ssl-images-amazon.com/images/I/415gmX9ujaL._SL250_.jpg', N'http://www.amazon.com/gp/product/B0011ZVVJ2/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B0011ZVVJ2&linkCode=as2&tag=westwindtechn-20&linkId=GHOXSGQGTIORXIBC')
GO
INSERT [dbo].[Albums] ([Id], [ArtistId], [Title], [Description], [Year], [ImageUrl], [AmazonUrl]) VALUES (1705, 1686, N'The Process of Belief', N'Bad Religion is more than just a punk rock band. They are a punk rock institution. They have existed for almost 20 years and have always been a part of the musical evolution that is independent music. Your Blink 182s, your Sum 41s, your New Found Glories; none of them would exist if it wasn''t for Bad Religion. It is only fitting, then, that "The Process Of Belief" blows all of those bands [and about a million more] out of the water.
The most-hyped point about this album, of course, is the fact that guitarist/songwriter Brett Gurewitz is back in the band after the band''s somewhat-failed stint on major label Atlantic Records and subsequent return to Brett''s own label Epitaph. What does this mean? It means that vocalist Greg Graffin and Gurewitz wrote together for the first time significantly since 1994. This is the punk rock equivalent of John Lennon and Paul McCartney getting the band back together. If you''re not familiar with them [and if that''s the case, I feel sorry for you], maybe the basketball analogy of Michael Jordan and Phil Jackson both reuniting with the Chicago Bulls at the same time could help you understand the importance of the situation better. This is a huge deal, and the album definitely lives up to the pressure put upon it.
From the second you press play, the disc shows no intention of letting up on intensity. The trio of opening tracks "Supersonic," "Prove It," and "Can''t Stop It" plow through the listener in barely more than 3 minutes total, shushing all nay sayers who said this band had lost their passion for their music. The band has rarely sounded tighter with music this fast.', 2005, N'https://images-na.ssl-images-amazon.com/images/I/51Qxr%2B4re-L._SL250_.jpg', N'http://www.amazon.com/gp/product/B000X6ZBGO/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B000X6ZBGO&linkCode=as2&tag=westwindtechn-20&linkId=ER5ONY3THHADNM4C')
GO
INSERT [dbo].[Albums] ([Id], [ArtistId], [Title], [Description], [Year], [ImageUrl], [AmazonUrl]) VALUES (1708, 1687, N'Among the Living', N'Most speed metal fans were initiated by way of either Metallica or Megadeth. Anthrax was my introduction. Albums like this speak to the fifteen year-old in us that gets tired of turning on the radio and hearing only prefabricated crap. 13 years after first hearing this album, and owning it both as cassette and CD, I''m proud to say I still enjoy it.

What isn''t to like about it? Out of The Big Four ( Anthrax, Magadeth, Metallica, and Slayer), Anthrax possibly had the best singer. Joey Belladonna, silly hairdo and all, had a tremendous voice. The guitar team of Scott Ian and Dan Spitz was bulletproof. Spitz was possibly the most underrated lead guitarist in all of heavy metal. He sounded like nobody else. Ian deserves a place in the pantheon of great rhythm guitarists. The uncle-nephew rhythm section of Charlie Benante and Frank Bello is unforgettable. Benante had to have been hiding two or three extra arms somewhere. And last but not least, Bello played without a pick like all real bassists. Plus he played FAST.
And finally, Anthrax showed the greatest imagination and diversity with their lyrics on this album. "I Am the Law" is about Judge Dredd. "Among the Living" and "A Skeleton in the Closet" are based on Stephen King''s work. "N.F.L." is about a fallen comedian, either Lenny Bruce or John Belushi I think. The arms race, particularly under Reagan, was attacked in "One World". And who can forget the anti-racism classic "Indians"? The lyrics were written by juveniles on ATL. Smart juveniles.', 1988, N'https://images-na.ssl-images-amazon.com/images/I/51gh0LPePJL._SL250_.jpg', N'http://www.amazon.com/gp/product/B000W0B0KM/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B000W0B0KM&linkCode=as2&tag=westwindtechn-20&linkId=TNLABEIZTAU2JKGF')
GO
INSERT [dbo].[Albums] ([Id], [ArtistId], [Title], [Description], [Year], [ImageUrl], [AmazonUrl]) VALUES (1714, 1688, N'War and Pain', N'Canada has a fine Rock and Metal tradition, but there seems to be something about the frozen North which seems to warp the minds of musicians a little. Canada''s greatest export, Rush, forged a reputation for producing highly imaginative Progressive Rock with a hint of the unusual, even for the experimental world of Prog Rock.
Voivod did the same with Thrash Metal. These four twisted musicians produced one of the oddest albums of Thrash''s early days. While Metallica and Slayer were content to play it straight and fast, Voivod seemed to make things deliberately difficult for themselves on `War And Pain'', opting for a complex and choppy songwriting style. Playing at a speed where it would be easy to trip and stumble, the band doesn''t miss a note. Think it sounds easy? Check Possessed or early Celtic Frost for examples of bands playing too fast for their own good then.
Title track "War And Pain" for example mixes up several riffs, which seem to tumble past like a rockslide, and are bridged together by guitar solos or rumbling drum fills, all the while Snake shouts blank verse lyrics of the horrors of war over it all. Sounds complex? It''s the most straightforward song on the album.
Piggy was an incredibly underrated guitarist. Most bands of the time went for a twin guitar line, either to cover for lack of ability or to fill in holes when playing fast. Piggy carried all the guitar duties on his own. He possessed a killer chainsaw tone which cut red raw to the bone, and was able to slip effortlessly from rhythms to solos and back again. This album avoids double tracking the guitars, so during solos the rhythm drops out and is picked up by Blacky on bass.', 1984, N'https://images-na.ssl-images-amazon.com/images/I/61ZjFbNKpLL._SL250_.jpg', N'http://www.amazon.com/gp/product/B005E63FWK/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B005E63FWK&linkCode=as2&tag=westwindtechn-20&linkId=JJ44FMPRYB4TTBGO')
GO
INSERT [dbo].[Albums] ([Id], [ArtistId], [Title], [Description], [Year], [ImageUrl], [AmazonUrl]) VALUES (1715, 2, N'Breaker', N'This album is ACCEPT''S turning point album in my opinion, the album that defined their style ACCEPT''S BREAKER Album, which is ACCEPT''S 3rd album released in 1981 in the U.K. and Europe again, still no U.S. market yet
ACCEPT had more money this time for a better produced album and 10 excellent Hardrockin''/Heavymetal tracks to go with it . No rock ballads like their previous album 1980''s I''M A REBEL which i''ve also typed a review about all Great Heavy metal riffs on this album.', 1982, N'https://images-na.ssl-images-amazon.com/images/I/51fIOETov9L._SL250_.jpg', N'http://www.amazon.com/gp/product/B0007ZBG1U/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B0007ZBG1U&linkCode=as2&tag=westwindtechn-20&linkId=ZPNI5HMO3ZTBZQJ3')
GO
INSERT [dbo].[Albums] ([Id], [ArtistId], [Title], [Description], [Year], [ImageUrl], [AmazonUrl]) VALUES (1716, 352, N'Inside Your''s', N'Heavy yet Melodic, "Inside Yours" was as impressive and real as anything that was coming out of Seattle at the time.

A lot has been said in terms of what influenced grunge in its form. Most point to a collision of punk and arena rock, which is indeed true, however the influence of 70''s era funk was evident in the sence that a lot of ''grunge" though heavy and aggressive, had a groove not found in other forms of hard rock (excepting of course, bands who wore their funk influences on their musical sleeves like the Red Hot Chili Peppers, Primus and Big Chief)

In grunge that funk influence was more sublime, more integrated and thus giving the melodies and power chords a sense of motion which made for some compelling music. Gruntruck embodied this with tracks like "Paint" and "So Long" which bust into power funk tangents amid the sweat and leather aesthetic, giving the general sound a psychedelic elegance that typified "grunge". All art-phaggy posturing aside, I sum this record up as just plain rockin'' and is a document of the last truly innovative movement of Rock and Roll.', 1992, N'https://images-na.ssl-images-amazon.com/images/I/51Gkyj0q6WL._SL250_.jpg', N'http://www.amazon.com/gp/product/B002S1XKTC/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B002S1XKTC&linkCode=as2&tag=westwindtechn-20&linkId=32NMIFC3DC4YE62Q')
GO
SET IDENTITY_INSERT [dbo].[Albums] OFF
GO
SET IDENTITY_INSERT [dbo].[Artists] ON 

GO
INSERT [dbo].[Artists] ([Id], [ArtistName], [Description], [ImageUrl], [AmazonUrl]) VALUES (3, N'Aerosmith', N'Aerosmith is an American rock band, sometimes referred to as "the Bad Boys from Boston" and "America''s Greatest Rock and Roll Band." Their style, which is rooted in blues-based hard rock, has come to also incorporate elements of pop, heavy metal, and rhythm and blues,and has inspired many subsequent rock artists. The band was formed in Boston, Massachusetts in 1970. Guitarist Joe Perry and bassist Tom Hamilton, originally in a band together called the Jam Band, met up with vocalist/harmonica player Steven Tyler, drummer Joey Kramer, and guitarist Ray Tabano, and formed Aerosmith. In 1971, Tabano was replaced by Brad Whitford, and the band began developing a following in Boston.

They were signed to Columbia Records in 1972, and released a string of gold and platinum albums, beginning with their 1973 eponymous debut album, followed by their 1974 album Get Your Wings. In 1975, the band broke into the mainstream with the album Toys in the Attic, and their 1976 follow-up Rocks cemented their status as hard rock superstars.[15] Two additional albums followed in 1977 and 1979. The band''s first five albums have since attained multi-platinum status. Throughout the 1970s, the band toured extensively and charted a dozen Hot 100 singles. By the end of the decade, they were among the most popular hard rock bands in the world and developed a loyal following of fans, often referred to as the "Blue Army".[16] However, drug addiction and internal conflict took their toll on the band, which resulted in the departures of Perry and Whitford in 1979 and 1981, respectively; they were replaced by Jimmy Crespo and Rick Dufay.[11] The band did not fare well between 1980 and 1984, releasing the album Rock in a Hard Place, which went gold but failed to match their previous successes.

Perry and Whitford returned in 1984 and the band signed a new deal with Geffen Records. After a comeback tour, the band recorded Done with Mirrors (1985), which won some critical praise but failed to come close to commercial expectations. It was not until the band''s collaboration with rap group Run–D.M.C. in 1986, and the 1987 multi-platinum release Permanent Vacation, that they regained the level of popularity they had experienced in the 1970s.[17] In the late 1980s and 1990s, the band scored several hits and won numerous awards for music from the multi-platinum albums Pump (1989), Get a Grip (1993), and Nine Lives (1997), and embarked on their most extensive concert tours to date. The band also became a pop culture phenomenon with popular music videos and notable appearances in television, film, and video games. Their comeback has been described as one of the most remarkable and spectacular in rock ''n'' roll history.[10][11] Additional albums followed in 2001, 2004, and 2012. Since 2001, the band has toured every year except 2008. After 44 years of performing, the band continues to tour and record music.

Aerosmith is the best-selling American rock band of all time, having sold more than 150 million records worldwide, including over 70 million albums in the United States alone.[18][19] With 25 gold albums, 18 platinum albums, and 12 multi-platinum albums, they hold the record for the most gold albums by an American group, the most total certifications by an American group, and are tied for the most multi-platinum albums by an American group. The band has scored 21 Top 40 hits on the Billboard Hot 100, nine number-one Mainstream Rock hits, four Grammy Awards, six American Music Awards, and ten MTV Video Music Awards. They were inducted into the Rock and Roll Hall of Fame in 2001, and were included among both Rolling Stone''s and VH1''s lists of the 100 Greatest Artists of All Time.[20] In 2013, the band''s principal songwriters, Tyler and Perry, were inducted into the Songwriters Hall of Fame.', N'http://images6.fanpop.com/image/photos/33400000/Aero-wallpaper-aerosmith-33404894-1600-1200.jpg', N'')
GO
INSERT [dbo].[Artists] ([Id], [ArtistName], [Description], [ImageUrl], [AmazonUrl]) VALUES (5, N'Alice In Chains', N'Alice in Chains is an American rock band formed in Seattle, Washington, in 1987 by guitarist and songwriter Jerry Cantrell and original lead vocalist Layne Staley. The initial lineup was rounded out by drummer Sean Kinney and bassist Mike Starr, who was replaced in 1993 by Mike Inez.

Although widely associated with grunge music, the band''s sound incorporates heavy metal and acoustic elements. Since its formation, Alice in Chains has released five studio albums, three EPs, two live albums, four compilations, and two DVDs. The band is known for its distinctive vocal style, which often included the harmonized vocals of Staley and Cantrell.

Alice in Chains rose to international fame as part of the grunge movement of the early 1990s, along with other Seattle bands such as Nirvana, Pearl Jam, and Soundgarden. The band was one of the most successful music acts of the 1990s, selling over 20 million albums worldwide,[1] and over 14 million in the US alone.[2] In 1992, the band released their album Dirt, which was critically acclaimed and has been certified quadruple platinum. The band also achieved two No. 1 Billboard 200 releases, 14 top ten songs on the Mainstream Rock Tracks chart, and nine Grammy Award nominations.

Although never officially disbanding, Alice in Chains was plagued by extended inactivity from 1996 onwards due to Staley''s substance abuse, which resulted in his death in 2002. The band reunited in 2005 with new lead vocalist William DuVall and released their fourth studio album, Black Gives Way to Blue, in 2009. The album was a success, receiving gold certification by the RIAA in 2010. Alice in Chains released their fifth studio album, The Devil Put Dinosaurs Here, on May 28, 2013,[3] and are currently on tour for this album.[4]', N'http://www.isthismetal.com/wp-content/uploads/2013/08/is-alice-in-chains-metal.jpg', N'')
GO
INSERT [dbo].[Artists] ([Id], [ArtistName], [Description], [ImageUrl], [AmazonUrl]) VALUES (7, N'Attitude', N'Attitude was founded by members from Attitude Adjustment including Andy Anderson, Chris Scapparo and Rick Strahl and joined by Keith Chattam of Condemned after a short stint as Condemned Attitude. Attitude played heavy cross-over punk/metal that was a favorite in the San Francisco Bay area, but sadly never reached much visibility outside of it due to a lack of touring. 

The band produced three EPs that were well received by critics, but didn''t manage to ignite a more mainstream following. The band''s heavy cross over style and energetic stage show made for exciting shows around the Bay Area as well as on their one and only European tour. The band didn''t last very long and in 1988 dissolved to form a new band Two Bit Thief which had a much less edgy and more rock''n roll leaning sound.', N'http://west-wind.com/rick/photoalbum/band/ruthiesjumpwithandy.jpg', N'')
GO
INSERT [dbo].[Artists] ([Id], [ArtistName], [Description], [ImageUrl], [AmazonUrl]) VALUES (8, N'Audioslave', N'When Zack de la Rocha left Rage Against the Machine in October 2000, the band''s future was put into question. Within months rumors flew that ex-Soundgarden frontman Chris Cornell would replace de la Rocha. And gossip fueled truth, for Cornell joined the rest of Rage in the studio in May 2001. The mix was great and a musical bond was in the making: Cornell, Tim Commerford, Brad Wilk, and Tom Morello spent the next year writing and recording. By spring 2002, the foursome were no longer going by the Rage Against the Machine name and signed on for Ozzfest. But before the summer tour even got underway, Cornell quit the new project. 
He claimed it wasn''t moving forward in the direction he''d hoped for. The breakdown didn''t last, for Cornell rejoined by early fall. After tossing around the idea of being called Civilian, they settled on Audioslave. The single "Cochise," named for the great American Indian chief who died free and unconquered, hit radio in September 2002, and Audioslave''s Epic full-length debut was released that November. The self-titled album eventually went multi-platinum on the strength of "Cochise" and the moody rocker "Like a Stone," and Audioslave supported it with gigs that included 2003 Lollapalooza dates. Cornell, Morello, Wilk, and Commerford returned in May 2005 with Out of Exile, which debuted at number one on Billboard. That same month they played an historic show in Havana, Cuba, that marked that country''s first outdoor show by an American rock band (that fall releasing the whole shebang on the Live in Cuba DVD). Exile continued the band''s platinum-selling ways -- singles like "Be Yourself" and "Doesn''t Remind Me" went to the top of the charts -- and the guys wasted no time following up with album number three, Revelations, in early September 2006. Work on the album took only five weeks, since most of the songs had been fleshed out live over the previous year. In 2007, shortly after the members of Rage announced that they would reunite for that year''s Coachella festival, Cornell left Audioslave, citing both personal and musical differences, and leaving the state of Audioslave uncertain.', N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmQHF8XC3aoteCNFsD8de438XX6WVg0xoULNctz0Wj-fOJv-YR', N'')
GO
INSERT [dbo].[Artists] ([Id], [ArtistName], [Description], [ImageUrl], [AmazonUrl]) VALUES (12, N'Black Sabbath', N'Black Sabbath have been so influential in the development of heavy metal rock music as to be a defining force in the style. The group took the blues-rock sound of late-''60s acts like Cream, Blue Cheer, and Vanilla Fudge to its logical conclusion, slowing the tempo, accentuating the bass, and emphasizing screaming guitar solos and howled vocals full of lyrics expressing mental anguish and macabre fantasies. If their predecessors clearly came out of an electrified blues tradition, Black Sabbath took that tradition in a new direction, and in so doing helped give birth to a musical style that continued to attract millions of fans decades later.

The group was formed by four teenage friends from Aston, near Birmingham, England: Anthony "Tony" Iommi (b. Feb 19, 1948), guitar; William "Bill" Ward (b. May 5, 1948), drums; John "Ozzy" Osbourne (b. December 3, 1948), vocals; and Terence "Geezer" Butler (b. July 17, 1949), bass. They originally called their jazz-blues band Polka Tulk, later renaming themselves Earth, and they played extensively in Europe. In early 1969, they decided to change their name again when they found that they were being mistaken for another group called Earth. Butler had written a song that took its title from a film directed by Mario Bava, Black Sabbath, and the group adopted it as their name as well. As they attracted attention for their live performances, record labels showed interest, and they were signed to Philips Records in 1969. In January 1970, the Philips subsidiary Fontana released their debut single, "Evil Woman (Don''t Play Your Games with Me)," a cover of a song that had just become a U.S. hit for Crow; it did not chart. The following month, a different Philips subsidiary, Vertigo, released Black Sabbath''s self-titled debut album, which reached the U.K. Top Ten. Though it was a less immediate success in the U.S. -- where the band''s recordings were licensed to Warner Bros. Records and appeared in May 1970 -- the LP broke into the American charts in August, reaching the Top 40, remaining in the charts over a year, and selling a million copies.', N'http://wac.450f.edgecastcdn.net/80450F/loudwire.com/files/2013/07/Black-Sabbath2.jpg', N'')
GO
INSERT [dbo].[Artists] ([Id], [ArtistName], [Description], [ImageUrl], [AmazonUrl]) VALUES (90, N'Iron Maiden', N'Known for such powerful hits as "Two Minutes to Midnight" and "The Trooper," Iron Maiden were and are one of the most influential bands of the heavy metal genre. The often-imitated band has existed for over nearly four decades, pumping out wild rock similar to Judas Priest. Iron Maiden have always been an underground attraction; although failing to ever obtain any real media attention in the U.S. (critics claimed them to be Satanists due to their dark musical themes and their use of grim mascot "Eddie"), they still became well-known throughout the world and have remained consistently popular throughout their career. Iron Maiden were one of the first groups to be classified as "British metal," and, along with Black Sabbath, Led Zeppelin, and a host of other bands, set the rock scene for the ''80s.

Iron Maiden were first formed in 1976 by bassist Steve Harris, who would soon join up with rhythm guitarist Tony Parsons, drummer Doug Sampson, and vocalist Paul Di''Anno. Before finally obtaining a record deal, the group played in local areas throughout the ''70s, receiving a fair amount of London airplay. Parsons replaced Dennis Stratton, and the band made its record debut in 1980 with the self-titled Iron Maiden album. Although the release was recorded in a hurry, it was nonetheless a hit in the U.K. due to the single "Running Free." Iron Maiden''s 1981 follow-up, Killers, displayed a harder approach to their music than before, and also saw the replacement of Stratton with Adrian Smith. Due to his uncontrollable alcohol addiction, Di''Anno was forced to part company with the group and would soon be replaced with vocalist Bruce Dickinson in 1982 for the band''s groundbreaking Number of the Beast. This album, boasting such songs as the title track and "Hallowed Be Thy Name," would come to be known as one of the greatest rock recordings of all time. Since the unexpected worldwide success of Beast made Iron Maiden international rock superstars, they changed very little of their style for their next album, Piece of Mind. They undertook two major tours before recording 1983''s Powerslave, which would go on to be another cult hit. The product of Powerslave''s 11-month tour was 1985''s Live After Death, a double live album that featured all of their biggest hit singles.', N'http://cps-static.rovicorp.com/3/JPG_400/MI0003/507/MI0003507317.jpg?partner=allrovi.com', N'')
GO
INSERT [dbo].[Artists] ([Id], [ArtistName], [Description], [ImageUrl], [AmazonUrl]) VALUES (329, N'Foo Fighters', N'The Foo Fighters is an American rock band, formed in Seattle in 1994. It was founded by Nirvana drummer Dave Grohl as a one-man project following the death of Kurt Cobain and the resulting dissolution of his previous band. The group got its name from the UFOs and various aerial phenomena that were reported by Allied aircraft pilots in World War II, which were known collectively as foo fighters. Prior to the release of Foo Fighters'' 1995 debut album Foo Fighters, which featured Grohl as the only official member, Grohl recruited bassist Nate Mendel and drummer William Goldsmith, both formerly of Sunny Day Real Estate, as well as fellow Nirvana touring bandmate Pat Smear as guitarist to complete the lineup. The band began with performances in Portland, Oregon. Goldsmith quit during the recording of the group''s second album, The Colour and the Shape (1997) when most of the drum parts were re-recorded by Grohl himself. Smear''s departure followed soon afterward.

They were replaced by Taylor Hawkins and Franz Stahl, respectively, although Stahl was fired before the recording of the group''s third album, There Is Nothing Left to Lose (1999). The band briefly continued as a trio until Chris Shiflett joined as the band''s lead guitarist after the completion of There Is Nothing Left to Lose. The band released its fourth album, One by One, in 2002. The group followed that release with the two-disc In Your Honor (2005), which was split between acoustic songs and heavier material. Foo Fighters released its sixth album, Echoes, Silence, Patience & Grace, in 2007. In 2010, it was confirmed that Smear had officially rejoined the band after touring with Foo Fighters as an unofficial member between 2006 and 2009. Over the course of the band''s career, four of its albums have won Grammy Awards for Best Rock Album. The band''s seventh studio album, Wasting Light, produced by Butch Vig was released in 2011. The band''s eight studio album, Sonic Highways, and their second recorded with Butch Vig, will be released in November 2014.[5] As of May 2014, the band''s seven albums have sold a combined 11.1 million copies, according to Nielsen SoundScan.[6]', N'http://media.tumblr.com/tumblr_mb76f02FkJ1qfo293.jpg', N'')
GO
INSERT [dbo].[Artists] ([Id], [ArtistName], [Description], [ImageUrl], [AmazonUrl]) VALUES (330, N'Henry Rollins Band', N'Rollins Band was an American rock band led by singer and songwriter Henry Rollins.

They are best known for the songs "Low Self Opinion" and "Liar", which both earned heavy airplay on MTV in the mid-late 1990s. Critic Steve Huey describes their music as "uncompromising, intense, cathartic fusions of hard rock, funk, post-punk noise, and jazz experimentalism, with Rollins shouting angry, biting self-examinations and accusations over the grind.

The band have been categorized under the alternative metal, hard rock and post-hardcore genres.[8][9][10] They were part of the early 90s LA alternative metal scene, alongside bands such as Tool, Jane''s Addiction, Rage Against the Machine and Green Jellÿ.[10] Their influences include 70s metal and rock bands, such as Black Sabbath, The Velvet Underground, Pink Fairies and Thin Lizzy.[8] Rollins'' shout-singing style proved influential to later nu metal and alternative metal artists such as Coal Chamber, Korn, Chevelle, Godsmack and System of a Down.[8] Rollins Band have been covered by Pearl Jam.[11]', N'http://upload.wikimedia.org/wikipedia/commons/a/a1/Henry_Rollins_2.jpg', N'')
GO
INSERT [dbo].[Artists] ([Id], [ArtistName], [Description], [ImageUrl], [AmazonUrl]) VALUES (334, N'Soundgarden', N'Soundgarden is an American rock band formed in Seattle, Washington, in 1984 by singer and rhythm guitarist Chris Cornell, lead guitarist Kim Thayil, and bassist Hiro Yamamoto. Matt Cameron became the band''s full-time drummer in 1986, while bassist Ben Shepherd became a permanent replacement for Yamamoto in 1990.

Soundgarden was one of the seminal bands in the creation of grunge, a style of alternative rock that developed in Seattle, and was one of a number of grunge bands signed to the record label Sub Pop. Soundgarden was the first grunge band to sign to a major label (A&M Records, in 1988), though the band did not achieve commercial success until they popularized the genre in the early 1990s with Seattle contemporaries Pearl Jam, Nirvana, and Alice in Chains.

Soundgarden achieved its biggest success with the 1994 album Superunknown, which debuted at number one on the Billboard charts and yielded the Grammy Award-winning singles "Black Hole Sun" and "Spoonman". In 1997, the band broke up due to internal strife over its creative direction. After several years working on projects and other bands, Soundgarden reunited in 2010 and their sixth studio album, King Animal, was released two years later.[1]

As of 2012, Soundgarden had sold more than 10.5 million records in the United States,[2] and an estimated 22.5 million worldwide.', N'http://cdn.mos.musicradar.com/images/artist-news/chris-cornell/soundgarden-corbis-630-80.jpg', N'')
GO
INSERT [dbo].[Artists] ([Id], [ArtistName], [Description], [ImageUrl], [AmazonUrl]) VALUES (335, N'Tool', N'Tool''s greatest breakthrough was to meld dark underground metal with the ambition of art rock. Although Metallica wrote their multi-sectioned, layered songs as if they were composers, they kept their musical attack ferociously at street level. Tool didn''t. They embraced the artsy, bohemian preoccupations of Jane''s Addiction while they simultaneously paid musical homage to the relentlessly bleak visions of grindcore, death metal, and thrash. Even with their post-punk influences, they executed their music with the aesthetic of prog rock, alternating between long, detailed instrumental interludes and lyrical rants in their songs.

UndertowTool had a knack for conveying the strangled, oppressive angst that the alternative nation of the early ''90s claimed as its own. So, Tool were able to slip into the definition of alternative rock during the post-Nirvana era, landing a slot on the third Lollapalooza tour in 1993, which helped their first full-length debut album, Undertow, rocket to platinum status. By the time the band delivered its belated follow-up, Ænima, in 1996, alternative rock had lost its grip on the mainstream of America, and Tool''s audience had shaped up as essentially metal-oriented, which meant that the group and the record didn''t capture as big an audience as their first album, despite debuting at number two on the charts. After a co-headlining slot with Korn on Lollapalooza ''97 wrapped up, Tool remained on the road, supporting Ænima until well into the next year.', N'http://cps-static.rovicorp.com/3/JPG_400/MI0003/371/MI0003371431.jpg?partner=allrovi.com', N'')
GO
INSERT [dbo].[Artists] ([Id], [ArtistName], [Description], [ImageUrl], [AmazonUrl]) VALUES (336, N'UK Subs', N'
As part of the original punk rock movement in England during the mid-''70s, the U.K. Subs scored several hit singles in their homeland, switching between politically charged material and party-hearty rockers. Led by singer Charlie Harper (who previously fronted a R&B outfit called the Marauders), the U.K. Subs formed in November of 1976, after Harper discovered the Damned. Originally called the Subversives before shortening their name, Harper recruited guitarist Nicky Garratt, bassist Steve Slack, and a revolving door of drummers (eventually finding a semi-permanent member with Pete Davis), and soon after began plotting their plan of attack from Harper''s place of business, a hairdressing salon in South London. Around this time, the up-and-coming group recorded a live set at the infamous punk club the Roxy (just prior to its closing), with hopes of the recording being issued as their debut album. Although the recording did indeed go down, the tapes sat on a shelf for several years, before eventually being issued in 1980 under the title of Live Kicks. This led to several John Peel sessions on BBC Radio One in 1977 and 1978, and eventually, a recording contract with the GEM record label, and what''s often considered to be their finest recording, their 1979 full-length debut, Another Kind of Blues.

The group enjoyed success back home straight off the bat, as they had several moderate hit singles ("Stranglehold," "Tomorrow''s Girls"), appeared at the mammoth Glastonbury Festival, landed a cover story for Sounds magazine, and were even the subject of a Julien Temple-directed film documentary, entitled Punk Can Take It. 

1980 saw the U.K. Subs attempt to crack the U.S. market, with a few opening gigs for the Police, as a pair of studio albums were issued, Brand New Age and Crash Course. But as the public''s interest began to shift from punk to new wave/synth pop in the early ''80s, the U.K. Subs saw their popularity quickly begin to dwindle, as bandmembers began to come and go. The band continued on with such further releases as 1981''s Diminished Responsibility and 1982''s Endangered Species (among others), as the group''s sound grew more and more a kin to hard rock/heavy metal. But despite almost all of the original U.K. punk groups going their separate ways by the early to mid-''80s (the Sex Pistols, the Clash, the Damned, etc.), the U.K. Subs never split up; although Harper was often the only original member left in attendance, the group continued to issue albums and never ceased playing shows. ''80s-era bassist Alvin Gibbs would go on to briefly play bass for punk godfather Iggy Pop in 1988, and even penned a book about his experiences, Neighbourhood Threat: On Tour With Iggy Pop. The ''90s saw the release of countless U.K. Subs "hits" collections, the best of the bunch being 1991''s Singles 1978-1982 and 1996''s The Punk Singles Collection.', N'http://cps-static.rovicorp.com/3/JPG_400/MI0002/749/MI0002749249.jpg?partner=allrovi.com
', N'')
GO
INSERT [dbo].[Artists] ([Id], [ArtistName], [Description], [ImageUrl], [AmazonUrl]) VALUES (342, N'The Bravery', N'The Bravery were an American dance-rock band formed in New York City in 2003 that consisted of lead vocalist Sam Endicott, guitarist Michael Zakarin, keyboardist John Conway, bassist Mike Hindert and drummer Anthony Burulcich.

They released three studio albums: The Bravery (2005), The Sun and the Moon (2007) and Stir the Blood (2009). They also released a remixed edition of their second album called The Sun and the Moon Complete in 2008 and an Internet live album called Live at the Wiltern Theater in 2010. Their music was a synthesis of post-punk revival and new wave.

The Bravery broke up in late 2011, which was not announced until April 2014, when Endicott revealed through The Bravery''s website and Facebook page, that all the members are taking part in separate avenues of creative interests and that, for now, there are no plans for The Bravery in the foreseeable future.', N'http://upload.wikimedia.org/wikipedia/commons/8/8a/Bravery1.jpg', N'')
GO
INSERT [dbo].[Artists] ([Id], [ArtistName], [Description], [ImageUrl], [AmazonUrl]) VALUES (345, N'Rage Against the Machine', N'Rage Against the Machine, commonly abbreviated as RATM, is an American rap metal band from Los Angeles, California. Formed in 1991, the group consists of rapper/vocalist Zack de la Rocha, bassist and backing vocalist Tim Commerford, guitarist Tom Morello and drummer Brad Wilk. They draw inspiration from early heavy metal instrumentation, as well as hip hop acts such as Afrika Bambaataa,[1] Public Enemy, the Beastie Boys and Dutch crossover band Urban Dance Squad.[2] Rage Against the Machine is best known for its leftist political views, which are expressed in many of its songs. As of 2010, they have sold over 16 million records worldwide.[3]

In 1992, the band released its self-titled debut album, which became a commercial and critical success, leading to a slot in the 1993 Lollapalooza festival. In 2003, the album was ranked number 368 on Rolling Stone magazine''s list of the 500 greatest albums of all time. The band did not release a follow-up record until 1996, with Evil Empire. The band''s third album, The Battle of Los Angeles, followed in 1999, and in 2003, the album was ranked number 426 on the same list. During their initial nine-year run, they became one of the most popular and influential bands in music history, according to music journalist Colin Devenish.[4] They were also ranked No. 33 on VH1''s 100 Greatest Artists of Hard Rock. The band had a large influence on the nu metal genre which emerged during the late 1990s.

In 2000, the band released the cover album, Renegades. The same year, growing tensions over the direction of the band prompted de la Rocha to quit, leading to the band''s breakup. De la Rocha started a low-key solo career, while the rest of the band formed the rock supergroup Audioslave with Chris Cornell, then-former frontman of Soundgarden; Audioslave recorded three albums before disbanding in 2007. The same year, Rage Against the Machine announced a reunion and performed together for the first time in seven years at the Coachella Valley Music and Arts Festival in April 2007. Up until 2011, the band continued to perform at more live venues and festivals around the world. As of 2014, the group has no plans to record new material.[5]', N'http://upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Rage_Against_The_Machine.jpg/1280px-Rage_Against_The_Machine.jpg', N'http://wac.450f.edgecastcdn.net/80450F/loudwire.com/files/2012/11/Rage-Against-the-Machine.jpg')
GO
INSERT [dbo].[Artists] ([Id], [ArtistName], [Description], [ImageUrl], [AmazonUrl]) VALUES (347, N'Raven', N'Raven were considered one of the brightest hopes in the New Wave of British Heavy Metal, but bad decisions and musical inconsistency would de-rail their once-promising career, turning the trio into just another small -- albeit important -- footnote for this important genre.

Raven formed in late 70''s Newcastle, England by brothers Mark (guitar) and John Gallagher (bass/vocals) along with drummer Rob "Wacko" Hunter. Signing with independent Neat Records, the trio joined labelmates Venom in laying the groundwork for what would become known as thrash metal by picking up where ''70s noisemongers Motorhead had left off. Not as satanically-inclined or downright silly as Venom, Raven were much better musicians and played with the raw energy and reckless power that epitomized the New Wave of British Heavy Metal. As the movement approached its peak in 1981, Raven rode its crest with the self-labeled "athletic rock" of their album, Rock Until You Drop, still considered a classic of the genre.

Subsequent Neat releases -- Wiped Out, All for One and Live at the Inferno -- weren''t quite as focused but helped the band solidify their fan-base and attract the attention of Atlantic Records. Unfortunately, signing with the major record company marked the turning point of Raven''s fortunes as 1985''s disappointing Stay Hard saw the band opting for an overtly commercial direction. Raven gradually relinquished their pop-metal aspirations, but by the time they attempted a full return to their roots with 1988''s Nothing Exceeds Like Excess, their momentum had been irretrievably lost, along with drummer Wacko. The group has continued to record throughout the ''90s on a variety of independent labels with new drummer Joey Hassewander, without anything close to mainstream success.', N'http://www.metalblade.com/us/photos/raven_photo02.jpg', N'')
GO
INSERT [dbo].[Artists] ([Id], [ArtistName], [Description], [ImageUrl], [AmazonUrl]) VALUES (348, N'Two Bit Thief', N'Two Bit Thief is a San Fransisco Bay Area band that originated from the base of a number of Bay Area Punk and Metal bands. Although the band has hard-core roots, this incarnation of members from Attitude Adjustment, Attitude, DRI and Condemned played more straight forward rock with a hard edge and stinging social street lyrics. The band had a unique style that wasn''t terribly original, but in its own way provided likable and authentic rock music. Two Bit''s shows were always entertaining as the band continued its frentic stage shows from the punk rock days.

The band produced 3 albums with varying line ups the first of which was Another Sad Story in the big city which is the most polished of the bunch. It''s mostly a straight forward rock affair that is a fun listen. Gangster Rebel Bop turns to a lighter more playful style that also is more bluesy and show-cases some fine song writing and guitar riffs for genuinely memorable songs. Unforutnately for the band the line-up changes and lack of label support resulted in this deserving band not getting much attention and sinking into obscurity.', N'http://userserve-ak.last.fm/serve/252/109540.jpg', N'')
GO
INSERT [dbo].[Artists] ([Id], [ArtistName], [Description], [ImageUrl], [AmazonUrl]) VALUES (349, N'Exodus', N'nce the kings of the Bay Area metal scene -- the birthplace of thrash -- Exodus were unceremoniously demoted from their post with the arrival of Los Angeles'' Metallica in 1982. And while they proceeded to eke out a hit-and-miss career of their own over the next few decades, all the while influencing at least two separate generations of younger thrash bands, Exodus were ultimately fated to be the ultimate also-rans of the genre they helped spawn.

Formed in 1981 by singer Paul Baloff, guitarists Gary Holt and Kirk Hammett, bassist Geoff Andrews, and drummer Tom Hunting, Exodus were heavily influenced by Motörhead and New Wave of British Heavy Metal bands like Iron Maiden and Raven, whose lessons they combined with the raw, D.I.Y. aesthetic of the prolific Bay Area punk scene to create thrash metal. Their handful of demos recorded between 1982-1984 became wildly popular on the all-important underground tape-trading circuit of the time, and solidified the band''s standing as the Bay Area''s first thrash champions. But they would soon lose their numero uno standing as well as their guitarist Hammett to the aforementioned Metallica, who then raced ahead of all competitors in their mission to bring thrash to the world. Wounded but undaunted, Exodus drafted guitarist Rick Hunolt and replaced bassist Andrews with Rob McKillop before signing with Torrid Records, for whom they recorded their Bonded by Blood debut in 1984. But the album languished unreleased for over a year due to business problems, and by the time it was finally unveiled by Combat Records in 1985, the would-be genre benchmark already sounded dated and its impact was severely dulled by the quick evolution of their peers.

These hardships also led to the ousting of vocalist Baloff, whose carefree, larger-than-life attitude (and often drunken behavior) made him an easy scapegoat for his more driven bandmates. His replacement was ex-Testament singer Steve "Zetro" Souza, who arrived in time for 1987''s disappointing Pleasures of the Flesh -- an inconsistent album which did nothing to advance Exodus'' cause. Incessant touring served to strengthen the band''s new lineup, though, and 1989''s meticulously conceived Fabulous Disaster was a critical triumph, bringing the group to their commercial peak. The successful world tour which followed brought another dramatic setback, however, when drummer Hunting was diagnosed with an irregular heartbeat which first sidelined, then forced him to quit the band at tour''s end. Still, Exodus was on a roll, and their momentum led to a new contract with Capitol Records, which immediately rushed them back into the studio with former Anthrax drum tech John Tempesta manning the skins, to lay down tracks for 1990''s Impact Is Imminent. But the absence of a competent producer and a carelessly assembled collection of songs resulted in a dull, forgettable album that was doomed to commercial failure from day one, squandering the group''s recent accomplishments and pretty much closing their window to success. Longtime bassist McKillop left soon after (replaced by Mike Butler) and despite the renewed quality of 1992''s Force of Habit (certainly their most diverse album ever), the members of Exodus decided to go their separate ways when the grunge revolution sidelined heavy metal bands of most any stripe.', N'', N'')
GO
INSERT [dbo].[Artists] ([Id], [ArtistName], [Description], [ImageUrl], [AmazonUrl]) VALUES (354, N'Thrice', N'Thrice is an American rock band from Irvine, California, formed in 1998. The group was founded by guitarist/vocalist Dustin Kensrue and guitarist Teppei Teranishi while they were in high school.[1]

Early in their career, the band was known for fast, hard music based in heavily distorted guitars, prominent lead guitar lines, and frequent changes in complex time signatures.[2] This style is exemplified on their second album, The Illusion of Safety (2002) and their third album The Artist in the Ambulance (2003). Their fourth album Vheissu (2005) made significant changes by incorporating electronic beats, keyboards, and more experimental and nuanced songwriting.[3][4] Their fifth effort was a double album entitled The Alchemy Index (2007/2008), released as two sets of two CDs that together make a 4-part, 24-song cycle. Each of the four 6-song EPs of the Alchemy Index features significantly different styles, based on different aspects of the band''s musical aesthetic which reflect the elemental themes of fire, water, air and earth, both lyrically and musically.[5] The band''s sixth album, entitled Beggars, was released on August 11, 2009, and their seventh, Major/Minor on September 20, 2011. The most recent albums feature a refined combination of the band''s different experiments and explorations.', N'http://images.onset.freedom.com/ocregister/blogs/soundcheck.ocregister.com/thrice-hob_anaheim_ACY7764.jpg', N'')
GO
INSERT [dbo].[Artists] ([Id], [ArtistName], [Description], [ImageUrl], [AmazonUrl]) VALUES (356, N'Poison Idea', N'Poison Idea was formed in 1980 by vocalist Jerry A. (aka Jerry Lang). The initial lineup consisted of Jerry A., Chris Tense (guitar), Glen Estes (bass), and Dean Johnson (drums). Inspired by Black Flag and other early Southern California hardcore acts, they were further influenced by Discharge and Los Angeles''s the Germs. Germs singer Darby Crash''s influence on singer Jerry A., vocally, lyrically, and philosophically, was considerable, and Poison Idea followed the Germs’ extremist punk ethic. Tense, who previously had played with Jerry in a group called the Stand, was replaced within a year by Tom "Pig Champion" Roberts (guitar), formerly of the Imperialist Pigs.

Poison Idea’s debut, 1983''s Pick Your King EP was a short, lo-fi blast of hardcore fury. The jacket featured a "choice" of two kings, Jesus (front cover) and Elvis Presley (back cover).

In 1984, Chris Tense returned to the band, this time on bass, replacing Glen Estes (later of Portland, Oregon punk/metal band Final Warning), and the group released the Record Collectors Are Pretentious Assholes 12” (the cover features Pig Champion’s substantial vinyl collection). The record found the band incorporating subtle rock elements into their music, which was further honed on their contributions to two 1985 compilations, “Laughing Boy” on the Drinking is Great EP (on which appeared other Oregon punk bands Final Warning, Lockjaw and E-13), and “Typical” and “Die on Your Knees” on the legendary Cleanse the Bacteria LP (compiled by Pushead for his own Pusmort label).

With the release of 1986’s Kings of Punk LP, Poison Idea had fully moved beyond the breakneck hardcore of their early records to a potent, driving and ultimately more intricate and sophisticated hardcore/hard rock fusion that incorporated the accessibility of hard rock without sacrificing the power of hardcore.

Following the release of Kings of Punk, the band went through several rapid lineup changes (mostly in the rhythm section), and then added lead guitarist Eric "Vegetable" Olson, a gifted musician who wrote many PI tunes during his tenure in the band (even contributing a piano vamp on one track). The band then released War All the Time (named for the Charles Bukowski book) in 1987. War All the Time and the EPs that followed (the Getting the Fear 12" and the Filthkick 7") found them further developing the rock/hardcore sound first established on Kings of Punk, which they would hone in 1990 with Feel the Darkness.

Around this time, after numerous lineup changes, PI had convened one of their more stable lineups in Jerry A., Tom "Pig Champion" Roberts, Charley "Myrtle Tickner" Nims (bass) and Steve "Thee Slayer Hippy" Hanford (drums), with Kid Cocksman and then Aldine Strichnine on second guitar. By this time, their drinking habits and hard living were beginning to catch up with them: the band weighed in at about 1,300 lb. collectively, and Pig Champion in particular was very fat, often having to play sitting down. They also established their own record label in 1989, American Leather (named for the Germs song), and released two records the same year: a reissue of their 1982 demo Darby Crash Rides Again and the Discontent 7”.

In 1990, the band released Feel the Darkness. After the release of Feel the Darkness, Aldine Strychnine was thrown out of the band, and Mondo returned this time on guitar, for the 1991 tour. PI then released Blank Blackout Vacant in 1992, and, before seemingly splitting in 1993, they released We Must Burn.

When Pig Champion left the band in 1993, shortly before the recording and release of the live album on Your Choice Records produced by Tobby Holzinger, PI effectively called it quits. Jerry A pursued a solo project called Gift with his wife and Thee Slayer Hippy, and in 1998 the original line-up reunited for a 7" EP on released on Taang! (who reissued their early catalogue), but broke up following an aborted tour.

Reflex/Wolfpack Records also did two vinyl reissues of the band. First Kings of Punk in 2003. Then later in 2005 a compilation 12" containing the Pick Your King EP and the ''Learning To Scream'' EP.', N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1wq3uOcHeJzwcucKu5PYLF7pNUrv5r06g34zee9SoKNgY6S64bA', N'')
GO
INSERT [dbo].[Artists] ([Id], [ArtistName], [Description], [ImageUrl], [AmazonUrl]) VALUES (357, N'Discharge', N'Discharge are a British hardcore punk band formed in 1977 by Terence "Tezz" Roberts and Royston "Rainy" Wainwright. While the band had substantial line-up changes over its history, the classic line-up from the early 1980s featured bassist Wainwright, drummer Roberts, his brother Anthony "Bones" Roberts playing guitar, and vocalist Kelvin "Cal" Morris.[1]

The band is characterized by a minimalistic approach of music and lyrics, a heavy, distorted, and grinding guitar-driven sound and raw, shouted vocals similar to a political speech, with lyrics on anarchist and pacifist themes. AllMusic calls the band''s sound a "high-speed noise overload" characterized by "ferocious noise blasts" [2] The band''s 1982 debut album, Hear Nothing See Nothing Say Nothing, went to number two on the UK Indie Charts and number 40 in the UK Album Chart. In the early 1980s, numerous singles and EPs placed in the top 10 of the UK Indie Charts, including the 1981 EP Why? (#1) and the 1982 single State Violence State Control.

Hear Nothing See Nothing Say Nothing paved the way for thrash metal, black metal, crust punk, grindcore and various extreme metal subgenres. The musical genre of d-beat is named after Discharge and their distinctive drumbeat.', N'http://homepages.nyu.edu/~alr237/discharge_flipside.jpg', N'')
GO
INSERT [dbo].[Artists] ([Id], [ArtistName], [Description], [ImageUrl], [AmazonUrl]) VALUES (360, N'Judas Priest', N'Judas Priest was one of the most influential heavy metal bands of the ''70s, spearheading the New Wave of British Heavy Metal late in the decade. Decked out in leather and chains, the band fused the gothic doom of Black Sabbath with the riffs and speed of Led Zeppelin, as well as adding a vicious two-lead guitar attack; in doing so, they set the pace for much popular heavy metal from 1975 until 1985, as well as laying the groundwork for the speed and death metal of the ''80s.

Formed in Birmingham, England, in 1970, the group''s core members were guitarist K.K. Downing and bassist Ian Hill. Joined by Alan Atkins and drummer John Ellis, the band played their first concert in 1971. Atkins'' previous band was called Judas Priest, yet the members decided it was the best name for the new group. The band played numerous shows throughout 1971; during the year, Ellis was replaced by Alan Moore; by the end of the year, Chris Campbell replaced Moore. After a solid year of touring the U.K., Atkins and Campbell left the band in 1973 and were replaced by vocalist Rob Halford and drummer John Hinch. They continued touring, including a visit to Germany and the Netherlands in 1974. By the time the tour was completed, they had secured a record contract with Gull, an independent U.K. label. Before recording their debut album, Judas Priest added guitarist Glenn Tipton.

Rocka RollaRocka Rolla was released in September of 1974 to almost no attention. The following year, they gave a well-received performance at the Reading Festival and Hinch departed the band; he was replaced by Alan Moore. Later that year, the group released Sad Wings of Destiny, which earned some positive reviews. However, the lack of sales was putting the band in a dire financial situation, which was remedied by an international contract with CBS Records. Sin After Sin (1977) was the first album released under that contract; it was recorded with Simon Phillips, who replaced Moore. The record received positive reviews and the band departed for their first American tour, with Les Binks on drums.', N'http://cps-static.rovicorp.com/3/JPG_400/MI0003/369/MI0003369318.jpg?partner=allrovi.com', N'')
GO
INSERT [dbo].[Artists] ([Id], [ArtistName], [Description], [ImageUrl], [AmazonUrl]) VALUES (361, N'Einstürzende Neubauten', N'Along with Cabaret Voltaire and Throbbing Gristle, Germany''s Einstürzende Neubauten ("collapsing new buildings") helped pioneer industrial music with an avant-garde mix of white-noise guitar drones, vocals verging on the unlistenable at times, and a clanging, rhythmic din produced by a percussion section consisting of construction materials, power tools, and various metal objects. Einstürzende Neubauten were founded by vocalist/guitarist Blixa Bargeld and percussionist/American expatriate N.U. Unruh in Berlin as a performance art collective; their early activities included a seemingly inexplicable half-naked appearance on the Berlin Autobahn, where the duo spent some time beating on the sides of a hole in an overpass. The group''s early lineup also included percussionists Beate Bartel and Gudrun Gut, plus contributor and sound engineer Alexander Van Borsig

KollapsEinstürzende Neubauten''s earliest recordings are mostly unstructured, free-form noise issued on various cassettes and singles, including their first single "Fuer den Untergang," the 1981 EP Schwarz, and the 1982 album Kollaps. Some of these recordings are compiled on the Strategies Against Architecture ''80-''83 collection, with live shows on the cassette-only 2x4. Bartel and Gut were replaced by ex-Abwräts member F.M. Einheit (who served as Neubauten''s chief machinery operator) in 1983, when guitarist and electronics expert Alexander Hacke and Abwräts bassist Mark Chung also joined. A tour of England opening for the Birthday Party resulted in a contract with Some Bizarre Records, which released the slightly more structured Zeichnungen des Patienten O.T., as well as consternation from club owners and journalists over Neubauten''s stage demolitions and frequent ensuing violence.', N'http://cps-static.rovicorp.com/3/JPG_400/MI0001/405/MI0001405670.jpg?partner=allrovi.com', N'')
GO
INSERT [dbo].[Artists] ([Id], [ArtistName], [Description], [ImageUrl], [AmazonUrl]) VALUES (362, N'Attitude Adjustment', N'Attitude Adjustment is a crossover thrash band originally formed in the early 1980s in the San Francisco Bay Area.

The band was formed by Chris Kontos, Eric Smith and Rick Strahl in early 1985, with Nick Koljian briefly on vocals. The lineup was changed with the addition of Kevin Reed on vocals. This lineup played a number of initial shows at Ruthies Inn, the New Method, the Mabuhay Gardens and other Bay Area venues. Several months later, Kevin Reed was replaced by Andy Andersen on vocals and Chris Scapparo joined as a second guitarist. They shortly went into the studio to record the "Dead Serious Demo" in 1985. The demo was recorded at Peter Miller Studios and engineered by Eric Kauschen.

In 1986 and 1987, Attitude Adjustment played frequent gigs throughout California. They played alongside bands like Forbidden (Known as Forbidden Evil at that time), Vio-Lence, Sacrilege, Possessed, Hirax, Death Angel, R.K.L., Dr. Know, Suicidal Tendencies, Corrosion of Conformity, D.R.I., Discharge, UK Subs, Neurosis, The Exploited and Operation Ivy, among others. The band finally released their debut album, American Paranoia released by Pusmort Records. This album is considered to be a "crossover" between hardcore and thrash metal and was one of the first in this genre.

At the end of 1987, Andy Andersen, Chris Scaparro and Rick Strahl joined up with former Condemned to Death guitarist Keith Chatham, to form Condemned Attitude, which would later be renamed Attitude.

Attitude released an LP and an EP, taking a more thrash metal-like style, with Andy Andersen returning to his initial style of singing. Rick Strahl and Chris Scaparro became the new guitarists with Eric Brecht (formerly of DRI) on drums during this time.

Chris Kontos, Eric Smith and Kevin Reed continued on with Attitude Adjustment and in 1988, this new lineup released the EP No More Mr. Nice Guy, again on Pusmort Records, which is very different from American Paranoia.

By 1990, former members Andy Anderson, Chris Scaparro, and Rick Strahl formed a new band with a more hard rock direction. The band was called Two Bit Thief and they kept it alive until 1995.

Kontos and Reed returned to the name "Attitude Adjustment" in 1991, but with another new lineup to record their last studio album, Out Of Hand, again mixing hardcore with thrash metal. In 1993, the American Paranoia LP and the No More Mr. Nice Guy EP were re-issued on CD. The LP version includes the "Dead Serious" demo.

Chris Kontos joined Robb Flynn (who left Vio-Lence) in 1993 to form the post thrash band Machine Head.', N'http://west-wind.com/rick/photoalbum/band/newmethod.jpg', N'')
GO
INSERT [dbo].[Artists] ([Id], [ArtistName], [Description], [ImageUrl], [AmazonUrl]) VALUES (632, N'Death Angel', N'Death Angel is a thrash metal band from Concord, California, initially active from 1982 to 1991 and again since 2001. Death Angel has released seven studio albums, two demo tapes, one box set and two live albums.

Two independent releases, The Ultra-Violence (1987) and Frolic Through the Park (1988), attracted the attention of Geffen Records, which signed the quintet in 1989 and released their next album, Act III, one year later. While Death Angel was touring in support of Act III, drummer Andy Galeon was injured in a tour bus accident and needed more than a year to fully recover. This resulted in the band''s break up in 1991. However, Death Angel reformed in 2001 (without original guitarist Gus Pepa) at the Thrash of the Titans benefit concert for Testament singer Chuck Billy. The band continues to record and perform today.', N'http://1.bp.blogspot.com/_uiTrE4Nd4kg/S2XPYowzYjI/AAAAAAAAK0M/qnu-CmKEnHA/s400/f_7m_3758f17.jpg', NULL)
GO
INSERT [dbo].[Artists] ([Id], [ArtistName], [Description], [ImageUrl], [AmazonUrl]) VALUES (1686, N'Bad Religion', N'Bad Religion is a punk rock band that formed in Los Angeles, California in 1979. The band makes extensive use of soaring 3-part vocal harmonies (which they refer to in their album liner notes as the "oozin'' aahs"), guitar solos and lyrics that often contain political commentary. Their lyrics often relate to matters of social responsibility. The band''s lineup has changed several times over its lifespan, with lead vocalist Greg Graffin being the only consistent member; the current lineup, however, features three out of four of the band''s original members (Graffin, Brett Gurewitz and Jay Bentley). Bad Religion has released sixteen studio albums, two live albums, three compilation albums, three EPs (one of which is composed of covers of Christmas songs), and two DVDs (which were both recorded live).

Although they gained a cult following with many of their early albums, Bad Religion did not experience major worldwide commercial success until the 1994 release of their eighth studio album Stranger Than Fiction, which spawned their biggest hits "Infected" and a re-recorded version of "21st Century (Digital Boy)", and was certified gold in both the United States and Canada. Their latest album, True North, was released on January 22, 2013. Bad Religion is one of the best-selling punk rock acts of all time,[4] having sold over 5 million albums worldwide.', N'http://www.badreligion.com/dispatch/_depot/timeline/x495/e68bf6f37ec5c66eed7100eca6ce2748.jpg', N'http://www.amazon.com/Bad-Religion/e/B000APVNBA/digital/?_encoding=UTF8&camp=1789&creative=390957&linkCode=ur2&sn=d&tag=westwindtechn-20&linkId=YOVVU6XHUYGAA6GY')
GO
INSERT [dbo].[Artists] ([Id], [ArtistName], [Description], [ImageUrl], [AmazonUrl]) VALUES (1688, N'VoiVod', N'Canada has a fine Rock and Metal tradition, but there seems to be something about the frozen North which seems to warp the minds of musicians a little. Canada''s greatest export, Rush, forged a reputation for producing highly imaginative Progressive Rock with a hint of the unusual, even for the experimental world of Prog Rock.
Voivod did the same with Thrash Metal. These four twisted musicians produced one of the oddest albums of Thrash''s early days. While Metallica and Slayer were content to play it straight and fast, Voivod seemed to make things deliberately difficult for themselves on `War And Pain'', opting for a complex and choppy songwriting style. Playing at a speed where it would be easy to trip and stumble, the band doesn''t miss a note. Think it sounds easy? Check Possessed or early Celtic Frost for examples of bands playing too fast for their own good then.', N'data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxQTEhUUEhQWFBUXGBcbGBgYFxgYHBYaHxgcHR4fHBgdHSggGBomHR4XITEhJSkrLi4uHB8zODMsNygtLisBCgoKDg0OGxAQGywkICYsLC8sLDQsLCw0LCwtLywsLCwsLCwsLCwsLCwsLCwsLDQsLCwsLCwvLCwsLCwsLCwsLP/AABEIALsBDQMBIgACEQEDEQH/xAAcAAABBQEBAQAAAAAAAAAAAAAGAgMEBQcBAAj/xABDEAACAQIEAwUECAMHAgcAAAABAhEAAwQSITEFQVEGEyJhcQcygZEUI0JSobHB8GKC0TNUcpPS4fEVkhYkQ1OissL/xAAZAQADAQEBAAAAAAAAAAAAAAABAgQDAAX/xAAuEQACAgEDAwIFBAIDAAAAAAAAAQIRAxIhMQRBYSJRBRNxgfAykaHRscEUI0P/2gAMAwEAAhEDEQA/AMts4YMRLRJ5bgDc09f4YBEPr0Kn9ioa32Qypg0p+JXCZJk+YFJLV2KsLw/+l/n3Qx3Lfdb5GkBTyB+RqS/EXPMfKm1xjAkjmZj4kx+NH1HOOG9m/wBl/YgI33T8jTZB51J+nP5fL0/oKj3HLEk7nWirEmsaXpbOTXppyxakjfcD0HWafTDjbUEH970TOiKDXgatreCRtARPQU3fwqBspJU9SNv36ULC4tFdNdJp2/hCp5HXQgzOtIayRExqJ3ogoRNerleJrgHpr01yK9FccLQ0e+zu4e5ugaDODP8ALrA3J0H++1AKb1Y8Exly1dU2nKliA0cx5/jQkrQU6ZqGLxSWRrq33dzPVo/KmuF4M3m768CSGYKp5EEiSOu8dKicB4azAXHuDMwn3QSs9CSRPnBNXHDMB4TmuXG8d37WX/1G+5loaUtw3ZPw5AuOSQPDb1Jjm9QuP8QtlAFbOSLo8AL/APpOPsg1IwfD7S3rhCLotvUiT9vmdaY7Q8Xw6BQ962pHeaZxIm04Gk9TFcKYSp2rs0lV0+Vepzha71NwmEtscpvZTyHduZPTSu8H7yT3dhb45q1suB01HiX4EUVcQ4aLd5kZLaHw+57oDAHTnEEHrU+XNpen+j0/h/QvqZNe31/igbvcPsqSDihI3HdXNPlpTP0e1/eF/wAu5/SiXhfC8LicfdzOtvDWojxZc5GggtyJDE/DrRFY4TgS9xXYC0Sq2gwzFoMFhC7TmAPm1S5OtWN09TdJ8Lv245Gh0PzdUoqkm62bv+fzczg4a3/eF/y7v+mvfR7f95X/AC7v+mtBwXZqwS5xFru7WjWyysuUHL4Z/nXT+A+dSBwHhYPv25/mpJfEoJ16n9En/o6Pw+Ula/xL+zNvo9r+8J/l3f8ATT1jhtt9FxVvN93JdHLzXWtLw/CMCzvmuQh1RgwRQYUMviGhEKR5R92hbEYVEuFfA6q24ghhJ1kdZPzNHH1yyNpak/Nf0V4Pg+uVN8eGv2dgxdwAExettH3Rd19JT8zVra7M3bgDKQNBKmQV02NWOF4SLveLbtqWyljrl0AM6zvr8TT9zG3VJ7x7dqYj60IxG2uRHB/DnvVuPKpbJ7/Y83rujn02TQ6A196Q1LumkTWxCcNcrprlccerqifLff0rgp2wVnxVxw5h7hGxy/vr86scKSpOoYgbAgiQQCIP4RvUbDtDBzGuhkSJIjyHU70pAisQzGIIEa84M+UTtSsdIkXbRRpUBGJkGZyiPLeoOOuMXlmJPWIq2wuDNwE5QQXiRpEnxEzqeXpNXnGOGKttbgVcjBkSdlbRQ3SSxbXooNJrSlRq8bcbB7gPiLWmggg8/wBeX/NR8XhSAyvAKxHPnypyzZOHuKbgYZgYIjX9mKfxVtndSFXUgFZ1n/Tzmmv1C1cShuJHX9/sVyasOIKzM06KCdzAGvLznkKrS1OZHQa8a5NergCkNOYbEFHV4kKwMbT8aTYWSAOdJuuQY2jQ1wUEa9tcQghEtpy1Bb+gFQLva7GGQL5UEk+EKNSSTrE7nrVLmNOF8w8/Ty5UTqPYnHXbhJuXLjzvmdm/M+tRhTjL8/0pFcA9Xq9XK44sOCYq5bvKbd7uGOmfkJ+95etaFxDA3crYi7eR7g7sEqAyucqgEHbbXblWYWbmUgwDHJhIPqK0Ozx6y2EKpbNuQNNMqZRB16aE153WwlqjKK8PZcfXk9z4LNrI0vxWr8DeK4R3dhsQCoRhmMt4mc7gCNy2gHmKF8RgW1uM4LCCRqSDyAgjnVviOK2GhFjKBbaTcMG5BkhNORggjQ7VXZ7az9YGLuCxkbDX4DSPjRw/Mj+rn6dv5L8qxZ402nFXp3qvZ1e9vZeLfcve0eIvPZsWbl2WQDOSQyktqu53AOUzrNDj4G6A31jDLrpIkfA+tTcXikZCBcWdxqNxqOfWu2OJ22WSwU8wT+5o4teOFRX8e50+h6KWTS5LjZ6vqn37bMiWMO9o51uTEEjnHXfcVrvY1rqIDfZHsuAUuFpynoSR7pHXaKyW21vMrd6oKSpkjxLy59KtsLxmyEay58Kp9Ue8JVWzeKV111hQBAEztIl+IdPLqIaf9b/bjj/AijjhDRajBtd9VeVva9n9PITXcPeRTfTFpbd7ZOe6PCgJUwGJIJ5DSszx2Id3Znc3GJMsftedG3G+OWDhURrRuFUCqG0AfSGkHUCDod5oEZ5rf4fjkk5TW/HC4+25B8VlL5umX5zXgXcps07cpoV6J4xyuUqK9XHHbNssYHmfgBNSsOAIIDE6+XpH60xhWht45SeU1Y98VGVGDSCC0aCYkevn5mlYyQtToPAoVs0xyGm0zrrodd/LRzB4HvGy5hnymFOmWAYmB4jAHrNNWAsRsAd9SACCDpr6yKJOznBO9XvJyjMdTOukHXqJ1/5rPJLSmzfHDUXPZfg65LauQXZ2La7opJnTkWI15ip/aXDtd/swO5tPqANM4B1jmFb8Zqfwns8om6WYuZAIJXKoaMoAMEacx+dKuYhrCXA0OCLlxV0ESTm5bSdN9zUt278FCXZbmfcawokW40gEESSBGpIO2s/9p6VT4dCGgvBTMQeUab/Db1ok7TByLaQudFyMQZ1YBjJjcmTHrQ0uIX3WBgjxNppqIO3SfmOmtON3FGM1TI+Nsk5UMDJnB5iZ1M9SI8tB1qrYa1NuMAJ6NAII9fd5VDurDEdCR+NbkrOV6uCvVwCThIzrPWPnpWm9guyGGv2r1y7F1mYoG3yDKDK9Gk7+VZlhEkxuYMaxrWjdhFuDDEW7t8OGcm1Z7pftASWdTmJA020BrHO3o5N8CuQD8V4E+HxFyyYLW5MHQuN/D94wZEbwY10qLdtIQSrFgDppBYf11FbJicMrWsaMUweAqG6wXMq5ADqABMQ+wGo0rHGwFy2CxEDXKzFQCwWY1PvajSjiy6jsuPSQ75nLPQ6xr6Hry186bIAAnf8AT/f8I86euEASNyQQOQHy5GB8KTbwbHKxBVGYL3hBCgkxq22mvyNa2Y0IRQfKPmfTz/pTRo9xfsxxNuGQjEIRvbIVgfNW3HLQzrtQnxnhV2wR3ti5YnQBwdSN4MDy0oKcZcMLi1yVtGVu2lvhneBMzl3VmDkZPERBUc48W/TlQbVjguKMlq9ZOtu6BI+66mVYfKD1B8hWebG5pV2af2N+mzPFJtd01+5XiuMNa7XmrYnOV2uV2uOOg15TXBXQK4Ib9qsPb+hWroUrca4M0mQ0qSYE8joaDgKsON8XOIKCMtu2oW2vQaST/EdzVeKn6bHKEKl5+3gp6rP83JqH7m9NmnLopqtyQ5Xq7Uvh2FFxwpJAO+USfyNcwpWR7AM6b6/lU6wpIJ5Ajlvvt++VGWF7GYcjRmbU5pcZokgCANJ9P61S8U4Z3JUAEBlU6gydDMTyEAfGs9aY6RXC+PCG0GwynxCBoT6T61qfYy1lsCy+p94HmQ0/iDI+VZ5w7hLPrlYjSYGwmBHyNahg8CUtoU99NVn7Q2Kk+Y58jB5VPlkm0l5KMcKjbLGzCqVAjKSN9PnykGdainI93Mq5vAVYGeZ6HynXzpeHx1q7Jt3QG+0pMMp6Mp1BHQ0Mdo+OOiXFwpzsZ7y9plXKNVTkzDboPWsoxdpGi7tAp2nxhF+6oMjOrTME+AKJjykafeqns2ZBzZpAEeIDPBKwum0flTF7OxkEmCGzSZOu+vMmJPlXbFzKCVWdBqCfCY6+s/71ao6Y0ifVqdsi4i6xUbEaHbzPz1J/DpUUmSSdzUvFlSzFVhWbMvkNR8tfwFdweJggE+HXSBz+FadjHuQzXBVvxRwjZQiRAnz0mQQdDVW69KCdnNU6F2gdOvL/AGreuyPDlVLThQt9E7hyugZRGUkc9ApUnYOeumD4VoOusbD9/GtR9l/aIsblu63jLBhJ3EBSBOwECByERWHUp6bRtge9BdxnszbvNczZyDDFVaFZxoGYc2GsfCdQCMo7T8EbD4lwGthLgJth1IBD+8F3kgl+ew8xO03bdxicrELpGUL+OaqrtIlpcMfpADZRIJAkNyywPemNqkxZHGX7lU4qUd2fP5TRQYHKeupBPwrfexOFsXcHaU20KZIykAjz9dZrAnJmRqAJjoDy15jy6dK0L2fY5r9sYXOwTvGL5TlZrRUkgNuoLkAxrBqvqIWk/ZkuF7tBjhuJjCs9hGNzCMxW1ctDvDhmM/VuBqyAjRlmJg9abHBlvszZkxKXFIa5cbvGEEeBF2trufDBmCdhNlg+DEWSuVEAYMiIuUWlEGNCZMg689/IOXAR9ZbULiAPGGkJdMDSY1nqJK9DEGWU9mUxx7GSe0LsUcG3e2gTYY775G6HnB6/lIFBmXSeW019G4vEnEJl7m4ggklwsI4IygbhzOsiRprvFYDxvBPaxFxG1JJMxGYEzMDT5aTNV4cmr0smzYtPqRXiuuNa5S7u/wC+gqhk43Xa6onyHXpUu3hyl5VcTDLInQiR9raCOdccRlQxMGNp5T0mvRRn244qt0WcPZFru7a54te6pIIAJGgYDQiTqd6EFTWuQwmKcWnFtaV1rB2o0ccuHemxTj70ilFPW0kgDckAfGrbF4XuMQybhSInLsVBGrAgb9KT2ZwveYm2OQOY/D9irbt1byYqY95EbbpK/wD5/Gs3L16fBol6b8hR2e4gWALMApI+07LPTM2W3MjZEbU1D7b4YshdEgLLQFAOUmSxA2XQmSF2qq7O8SCwS0HUAywLDmoYTduHmEthR50dYA5gUIy9UgF4PMpmK2xzm4S2ppKpo4Duyvay1bAt4hWA/wDcXXTlmXePMTvtWi4PjmFceDEWj/OoPyJkVjvHuENh7zJErujCSGU7QYGaNRPUVBtYJmJAA0UnUjYCT6nyovDB7oKyy4Zs3En4e/ivthXjm5tsR8d6Ee0/aK09tbeHXJYLBTdywIABKog8QGwkgeW80HLjbaH6uyummdi5foTAOT+XL8TvXsfktucuViQwZYMI0lTBPKdVOukV0cCVWN81s465YIRgpXXMNzJMrI8IiBp0OutWHAeE98HKsgUAGG3OpIB28Mj8RVTgcSO8XvWfu4hsurBf4QTB9DpWhez/AAli7auMFgm4BlOpEAazGoMz5a+VHM3GDaDipy3ArG4RkV0u2wjAErvMh4jfaT+PnUP/AKY7d2FTWOW556jkdY+FG/bq8ExloZAwa2Vgj7zDn10H40TdlE7vwMnhYKy3Bz5FW6EaeRmkeVpIb5abZlXaHD5MmYnPlWZESPjuRtTfDgtxGUjVYg5RzPXlWmdqeArmJs21uZtWtsPCp2zq32DBgg6EdI1GMd2auWbJDo0Zo8ABYgzAOUksJgjmIgyK6OVaUmc8fqtAUygMR0JFXvY3ED6RbsvotxshIMEE+6VPJg0R5FhzqJxTgN7Dqty8mVXJCzEnSdQNqrsNdKkMvvqwZTMagyD8wK2dSjsYq4s+geH2cbaBSbV0DZ2Yo38yhSD6g/AVHv8ABGZ+9xLh2RWKos5EJG+vvt5mPQVf8FxPfWLdw7sqk8twDTuKteAgc9K8x8fYrUt6PmC9bh4kDKYBBmNyIjcVO7M4p7eKsm06oS0AtIXXTK0ciYE+c0zxjDG1de2zTlYjbUQdP/iQfjVewkTznfrNeovVEjfpZ9EcK4wS3d3lyXQAWQndTIDKftKYOvkak4u+c4jxKwPnB03EGfjI8jywp8NjbK2sWxuAMB3d0tn0jQHUkKdoOlF3Z/t5cuCDbD3V+6YLeYU7/A/CvPyYGotxd7l2LKm91RpVrB5UcgZQxmD+J8qzjt52ea5atYu0JCZs4G+QuWUz01I8swOwNGFnG4nFoFZO5tnQksCxHQR1olt2gLcKAYWANp00E8hypYy05LXsNlVx9Xc+euJYPCju7uHLXJP1lhiZHxAlYPXTbUjev4jhfrDkUKpCldgIKBtySJgjSSeus1rLcaw2DwbLdCnE3FuNctFApLuWYqQ2ndgkqNTIWBmNZMChDFiMzSYCmAd+oAk6c4FX4m2RZFTDDsT7PRi7Hf3LpVWJChFUnQwSWYGNQdhU7tR7ODatFrLtcCa5WVSwH8OUCR5R5jobT2N8cUWnw1whSGzW5IGYNuB1IYT/ADeRrS7iBqxyznGXIYaWuD5Xuqc3jJMQN5MAQI8gIA+FKtONMwmOUf0o99q3ZwWLouoALdzpACkbgCNpII/xEcqz8SD038qqUlJWjNqmHfYfDI7FZyuw8LEbAc4nacvQsC0709xrBOl5kuozMgVR3cwE5HQEwdTr1NUPZ/iARwWto7HTxtbRANJaGDFrg1OZpA18JMVr+BuWsQGuujZSxFssVGZV8E+LXUqxkACCPOklKmBGCXN6QaXcGtIpxQk7Bj/zE9EP5ii3t5wNruHW8glrUkjqh3+IgH0mh7sDg5fN94gfAan9a0XtNdCYS7JiUYfMR+tSZHWRNFKXooxzhOLKPK5h1yEIxHMd5ug6kUf8E4iqqsFVWfDlDd3P3baRnxV2d2Omk9azZj/xV9wTFnNqWLHwjJ/asPuq50sW+rCDE/Cia7mUd9g547w8XrTSJuLmgsRoY07xgNOUIvkOU1n2ERlY55QgEREGdoOxGk0e8KxiMAoyBAYzJ/ZK3JLI3v3OZuHSk9oOByvfIDmX3kJzEk9dPFeY0kZVt5OoB+LYgW3+rVfIsA9xYAHvRB1BgkSOtUpqRj7zPcdnEMWMiIymYyxyjaKYFUVSFE0fdjMW2GYTlyMgNwKyAIGtlgWzEN3spqu0HTUwQfD2s7qm2ZlX5mP1rXRwPAYe2v0lkdlCjNeIJ2geDbyGlZ5WqpjQ9wK7Z8QS/iM47wLkGUnQEFCZA5OJB848qL+yM3rNtrlxiYJKjQTqNeo2iI25zQL2vFtcQWsgqoIIATKmkggKQIYEHSOdOdiO0iWHyXiy2zEGSQh8x0P4VhOGqCo2hPTJpmtWrgYDYmYM+Q5x5a0vAYfPDtudvIeVV5vIwa5ZZHVkM6zAjlHKrnh2iD0FSJb0a5HUbQE+1uwBh7JMwLsH423/AKVk1sAanWCJ9K1n2v2JtWbhYwrlcvIypM+oykfGsovLEyIBXQwdddweY3EjpXoYf0Ej5N79nXE7b4KyguIbiooKZhmEDSVmdo186KbpAUloUAbnQD4mvnDEdnLttkW5Cs93u/8ACTlhp5ghpHOBtU29wU4nFWrdt/BfBKTmYJlt5iI5mAJjSSROlZPp03dj62TfarfwrYgHDMHYqRdZNVzg+HXYneY250DJpuCRzgwaveO8EfCuqsyksMywGVgAYGZGAZCTOh6HfeqXLVGOCjFJGc227ZvHs/vWMRw61abJcyW+7uIYOxK6joQNDWQdseBHA4tktloHjttsVXMYEzqRpr15Ue+yDuu6ZsoF1Wa3m5lDlePPWflQd7RuKLfx12DAtnux0MaN+M/vfDGqnJI0l+hMKfZ32sF5xYv+G7GjDZ46jYN+dFnaXtT9GUWrKi7ibk92kwFUb3Lh+yg16THqRgll2VgVJDA6EEgz1B5etSMRindmZ7jOzABmLE54jQ9RoN+gNF9KvmalxXA3zm40+SZ2gxIuXS3eG+/27xn6xueUaZba7LoJ1PMAVxp7B4S5dbLaR7jfdRWc/IAxT+P4fcskLdUI33S6Fh6oCSvxAqpUqRhzuXXs8wS38WLNwkI1t5AjUgAjceu2vSK2VMUbWYGbiqogL4n0XUkQCWJ6Ty2rDeyOLe3jcOyRPeKuuxDeFh8ifwrWO0y3FdXsD6xY15EE7MKg65tSXsUdPDVZB9oXFrV3BFWDW7mZfAwEqSpmSuYHRuRMSOlY7dtQJOnTlPn16Vo+O4rjOIt9F+jW07q4pdnc6RM6iCAyyNAZB5b0P9peEdw2VhlOsqNlnWVJMup1HXQc5Fb4WktL5Emtym4DxBrbAAgLuRtPmWnU8gp8Os6amr7hvG7dsucjYhmIn/zPcJb/AIULa3BJMnYcp3Is1kjUARB15QR1+PKpOAxzWZylfFEzPL4+daONmZEub0kV196cwdgu6oN2IFc3QqVs0r2f4EqikjlI/fzqw9ol6MMw6kfmP1irfgmFFu2B0AH4UIe0zGaKnX+s/pUUE3Pf3srlsq8GeNTth4PWdCJIkdNKbipOAQSSSBGwI97yq58Eq5CnBY8gKWbIQp+sA/sk+5ZTkx0E76+pJHgOLZcyki0EHiX3u4BICKSdXxL67TGmlAvEcWUUGYczER4YI16TuNP0rnB+JkFApAKk91mPhtu2r37hPvsBsD+muU47Wvz8/PLrkOO0vZFMQM1oBLoAUDlMeFCOZ1ln3/Ks+x3BL9mc9s5RPjUEqQGyyG6ToJiaN+E8YAC5WK2yCQW3WwrTdv3OfeXW8IB8t+ZRgeIpdEMMrHuzlP2DckWkPLMF8ZHImhrcbOoxXDzmEEgiSCDsQCQRHnFGHDezOJxFu4QiotyGDQUBYwYhvHlDDpruJo5w/A8Nb702bagunLYjWIHIHSY3NX+HjLQln3pDKFKzIu0XZm8mir3rnKTDs5mApPj5zJ8s1CuN4Pfsibtl0HUiR/3CRW7Yq0O9k8gPzpTgEQQCOnUVjHqZJbrg1lhT3MR4W2QA5iIIYAHfWDMH1mt34e0qPQVlnbTgVtMRaNoBRdYAqAIDSNhyBE/KtP4YIAHlRyyTaaFp6aYC+0ziMslllnKy3NZhhDgjT4bHnULtBgsNjrNu9Yc27mRrS4YZ7lxr3hyoqkwLWWTmEATJnUVddu79lMZhWvrmtjP3ggGV0A00mCZ3qnZozHCd13uKuDDWLlq0bIW3Cm44X3g5ZwhYmYVoO1bYl6EZy5CLD4W7jZt3mtAJdtuir9Z3T21AZDe0VpPvABsuYidgGOGcCKMovX8MWS26WxLNCumVgCCrLMtBmRPPeqHjHFDZS1ZwZyIBiFSAAWRCbectPvFhibk/xL01GOMYR4R2iCC51HhzECInaQdhGtMo33FC9lsnEg4tbK4fD2Wt2zme8huZhAukjPmClyFYCcgEneq7tNwm9i1fFrba3atWwoe9C3MSc5ghFQeIyABEaKJ6VvD7j2rolc63khRc928kSqMefJPJgsbUU3UxZz4Nby2bYhziLrM15rbKzKg55kRXQhY9xtp1K9LQHwU/stLm68H6tAHYdSVYL+tBXF3zXrpywe9uSfVyY8udap7M+F/R8VjrOYXAq4eHC5Q6srsCBJgEMOdAXavgZw+NZCRle4zKTyUtMMPKfjSpr5kh93BeCZ2P7KHE2nvFQQbq2Em4bYzlc7EkI0+HKAI1zUWcP9mrZt8Mo6nvcS2/JfAhHmQav+xDKlu7ZtmIVbtseEi2WUqQoO8MpbXTxipv/hnvba95jsWVVjLLc7rvAcpHeBQNtVHrNB5G2Bx07D3CeA2cJL3HvC3aAfO1wWrY6zZtZFEfxKdD6VX9ueD2XwgfDJlVlZwcPaQNdDKWhrhH1Vs+8zH01mDbcM4EmCOSwhVHzG7ce6WDxGrq50kaZ12OhXKRTOIxOGxGBxFrCotwWUabCtpmBLKs2yQVJHuAxGm2lJe6ZyMAw1822W4vvIQw6SCCJHStrwGNTieGW5YuvZuDQlTrbbeGXZx5HkZ0NYjM/nt+nIVoPspxDYa3ibtxLhstkhkQ3IIzZiVWSNCusU/Vw1RtcobE6dDHaPjnEMNcVb3dyp8NwWo7wRsWB26rULjXbZsXaWy1m3nJhbmeMh8iQInzMetGva7tLg3wt2Ltu4WRgqAgsSRp4d1gwZO0VlNrBs6qzIyq0hXCMQxAkgRvAkyOlLhSktTjTQ+RtbJ7F3xrhPcWg7NZlyDkQsYIHi1YGQYBmd9qF3efeMmp+KVVOVXNxCNHKFQ2seENyDAifI1DOQbgk86oimluzF03scub0Xezzg+e4bzDRdF8zzPw2oSuDWtd7H4Pu8PbHPLr6nU1hnlUa9x8Ebd+xfhoFZb7RL04lBOyTHqSB+RrTWash7VuXxd1t4YKPgo/3rLp1btmmbaJVIskCQJI1Ow8zGsVPysoAYK1te8Cuo0bUAkHQsZiJ+UU1hrLASbYuI2hP3RI+0P7MnUAnz3im8VcWSLYIQEkSZJ8yY100Hl0JNWck43iGLGT8B0HSmacJpE0y4AyXaxrD3vECULCYzBPdU/w+Xp0q64f2gYSxM3B312T9vEP9UnqFU5gPXpVFgcFcvNltJnYAsQOg3P5VqXZTshbsA96Fu3Gg5ighBHurM+s6T8KynKK2ZpFN7nOzPGg+JFlBNvu3gxsEItrr0ITN/NRgboQxPpVZgeE4e0zNaQIzakgnz5cuegpN1yZjcAEVDOXdFMY2e4jjVDMSYAiqPAdohdvpbFs5WYDOWXbMATGsbjQwaY4neN2BtqAoP2jr10MHJ822MENf+DLiZAt9BksvqZkMDmnT7O+vkJBoxxx31dxpza2RYcSVL2R0ObubwDg7oZg6eseUUWYHasw7Js4xF5rjEkqVYSSC8ggyTqNCfLMI0NafhtF+FdOOmSXgybuNgR2lxR/6thgqlyoByqVBaS0iX8I0G55dKjtj0t4nBN3M5bmIZO5ZTazXLrB0Ayy2TQAgjYGNRUDjM3uLd2EW4SyIEcsFMp9or4gBJOmulQMcIYG2bZtXRnti2LiIly2MlxQr+JWyZmMjUlD6WQXpRhLk7jRhWFom5eti2GVcoTM31juWUZiyrLwJA0FOYizgGtWnuXcUgbOugViSmQaiDGmU+pNTuMJhMfftrZa5ZvMFUp3UqQFB0ytCwMx00iKTxXBJ4MIZ7hEPduJd++LElyi6sjEuABpGsimTB2KjF4fDKhu2muXsoXIXuER4ohlW2rLl3EMJ1g6VccR4diMfZsvcuoqk3DcJSLVvJGWWEnNmuFMvMljy0pr1j6PZFq7K9463GAMzbBCiU23kjWdDypp8HcSz32Fxauki5csi5D2yrZlNy0xi6R4dQDrpBGtFdgPgL/ZXbe3i8bbuNndBbVmDFwSrOujHUgbfCqv2vWCMRbblkcH0gE/GJrnsoxzfTb2Yy122zMeZYOCfnmY1f8Ata4cWwoujdDJ9GBU/mD8Kwk6y/n0NoK8b/PJRcO4Zcsh79u6xTunDDXMEaAxBE6qMrgayUAMzSO2HHMQiqlrF4y81wMCc1sJK6MmVFljz3GjLvRB7PYuYNM2piDPOHn8wKH7eTBYu7av999GDG/bFoaoSMoIYEMkAMsg/YXrQx5G5uMuQ5caSTRC4/hGs4hX7sY201q1fVXe5cW2rGGChX0TNoCQRGXoaJsR2jXB4ywblhcODYDuiCAQ1tyVIEBnW8ihTB95hpVDhuOWbZS9dsYm5hycSiFrjMr/AFim2uVngZEzAjnm5xNQOK4c4kk2sPdR2i5ZtyuX6M2ZiyiNYfNtAAMcjVDjaVmKCDsc6Pw3GsbJMXQ75Y8ShkcqCToQs0O57iD+zuZGuFmh1E2ZjI2Se7c66naRG9P+z3jBV7mEa8lm1iEeGYe7cKZR4pEafkKhcRNzJiFYoJWzcdUAVddiuUlQfFqNBqY6UIr1ST9xr2Q7wVLrM5w9m2oQk99cttdNlfeGZoZRoIzZOe9WPEMEnjY3PpFzNl7+81xUVpMIoQzbkRlLkJtpUDEXCG7+9cN7MlqbuTwqSpXJiLSw4MDRgZMKYM6DvEsabrHKPKSzsSIiAWMi3oCFMkda7kDZZYq61thb7hbNxFK3dGM5o94OzCYgyse8fWqu4yzrI9P96t8ZfthLqktHe3EVSSfCsZTJPIKFj+LyqsxKkmTLMfeMzPQ/EQZ5zToUf4bYz30Xq35a/pW18PtwgHkKynsph1a9OuZQTyiIg+czH41q9gkIPSoeofqopxR9H3IHHMYLVq45+ypI9QKxpyT42DSxZieR15fGaNvaLxWALKnVtW9KF+KzJEquVLShSCCQFA8OkHVmb4T0rXBFxV+4mZ70MtdXu2ZJXMcpBOgA1IB5z4Nx1FRJ86nJbIVkCglSGMZXQCFEzqZ6wenSl4fDo9zL4MsrBOZCwLAeFeZ12nkd6oTMaIDCmwtX+N4YiXe7CtqYWCGJ66VAbDW+TNpvpMD5VyYa7hD7OuIWrVy8LhAzIpDHkqtLfgZ/lNadZxYKiHtFNACTv8I302rCcRh4EqTI11gEf71P4H2txGFPgyMOjrPrsRrtqdTWM8ep2jRSpUzabt2IWF/lMfpUfFXVUTud99h61mT+0XEH7Fuf5vymqviHa/E3hlLBBzyCC3kSSaw/483aZr82CNH4Fgjfu3nuoVRTkRSILEwxYxymCuvnyEGfDrGRcslvPnQx7PsUpwQJzHxuCSZ+1pr/AIStFtu3yDEesGlkql/AspOSAntOjpeDhC2e9AiNQwt7k7HwEa8queH4u42bvFtqRt3dw3PXMSqwRpUDt+QBaRTnuXLghJjMFUluWgIkZtIJGtJwK2Utrcw9tbaXFVvCoWQRpIHOlnLYeEbM+x+NuYbiPesozhu9QHZlYHKTEEiDr6EVExfaG5cu2muZQlpwyW7SKioJBIUAc4A1JmN6se1XFsO6WUw6zpmuXGHiLCRCmZCzmMc9OlDuJNru0yZs8N3k7EyIy67Rm+Qr0ILZWTN7hF2autC9y6NdtPNssjeEOpUqRuQdwBMZT1FEuEGJ1u3hba4M31zXryZV5A21tr4eerDcmazVMULZU2muKwnMw0zeLSBOgyzvuTERVrju2F66i27sPbzKzLJGcrIHMhRGWYA510otsHYicexou37jLJXNCk/dUZVjygfEknnVU4q/s8bsArODtsoiQcuu/wBoIDz+OUTOs9/63hggX6HbYgJ4mygysA+4gBnxEzOpHIRTRtLg7sWXsnA+nGdxZuR657Y/Ka1HtThBdw11D9pT+VZR7Nbw/wCoCBAZLoA6DQgfhWy8QE2j6GoOrbUn9Cnp1sgb7GcKNvB2PvZAT5zr+tN9r2TDNZxjILgtMUuJAOe1dGRh4tD4ip186j9l+0lwWGX6NcvC07Ww1kTIXYENHiAiYkfkB32idpTfsiwLV2075SRdCqQoYnqeag+hoRxyeVMeclpaI1u5hUxJuImLvYLCkXRa+rKI7MMhnPrabfUTyPOrvtV2ks4sqYFhMPaS8lwMpe6txQvcqmUeHMShMwCDI1FCvALv0i7d7phZd0hrSKmW8mTVUVwQHmdNjJjel3ba8Ps2blq4HxF1VOsFTZaSy5D9kkLrMkhttRVtL7kaBTFqDJUQJMCZgToJ5x1qRZ4tlADWkaLFyySZk5ixV5+8hKx5KBtsSYbj+BvMv0vCJb3ztZBWTBMjIyxrAghpmZEVB45wSwzG5gLi3bRE92Wi8kbzbeGccwRJ8uZdu2Boo8XxK7eKlm1FtbRYaF0XbOR7xiBJ3yjpXrIj1GlcQdKUlFJIKRO+moLTBhN3NntmBAJKZpHPRTp509wfE4XIBiWvAjQd10k+8DGsRB6acqgYyyY1HoRz9OtNYPDhpkxEUrR1Ww07A2Jdz6D9/Oj/ABt8JbM8hVB2ewYtvcymVzQPQAafDbSkdvcf3eHYDd/CPjv+tefL1zLY+iCvsZ1xLEnEYhm+80D02FX64JQuihzoTm1n18ucUP8ADHYEHfLtMwPQUccAtQuZoLHl08qteypEDtsF7uEQmQoHkNB8hSrNpldHDE5CCA0MBB5A7UXcR4WLgJUBX5HkfI/1oZv2mWZBHny+e1IpM2qNDOOl3chV8bA5jOYDLEA9DVfjrZBlUIkAaS2ukmfMiY86sbb1a9n7SXL2V4MLIXqZHzGpptTi2c4KgWFl9NGB/X9xrSl4NdOpTSN86D8ZOlX3HsC6XS8AWyYQA8gSYI6TJqPbyzDEgHnI0+dM5A07WUlnB6OHBBiFIE65l36DLm+YqFeslTDCD+fn6Vo1jCIg0HqTrQ52usjKjAagx8CJ/SuvcytPgIPZT2kS1nw951VSQ1vNpqdGH4A/OtPC298rA/wloP8A2nLXzVNTF4rfCG2L10Ifs52j5Tt5Vlkw6naNY5KW4ZcX4sMRxBmw8WmtjIhCq3eEE5ix3IJ0EchRW+JJsKSuQ5BK7QdojyrMex6E4hY5Qa0vixiyT5A/rU2dVNR8FuB3GzK7t4lyWJYgkSSSYGg1PKoz/uK7baTXHBr0ux59jW1emuA1xjR7ndh0UhzXhcpLP0FBA7Fp2Wx/c4uy50GfKfRgV/UVvtxs1r4V8zOa3rsbxM38HbYmTkg+o0P41H1cbt+Cnppdir4Bx76Lh8tzD3u67y8e/Re8We9ecwXxJG23KgL2icbTE4he7MoikAxEknX4aCjC/wBor+Fs3fqA1kPcCXA8EMWkhljTdoPp1rJ71wsSTzJOm2p5dBRwwTqbOzyq4oXaYiCCQQZBGhBGxBq04txVsQVLKBlNw6GdXutcaOglojyqPgeFPdtm4hBhspUmDsCIJ0O9Kw3DbhvC0ysrSJB0gZspOukTpPWqVKO+/BPTIrAV0xUy1wu6zQEPvFZOgkBm39FY/ClYfAksoaYLWB4SJIugka6wQB0OtNqQGmQ7dOqdanKlnu5ghjbYiWPvd7lGmSPd5befKnThLPeQe8A7yBqp8BUxrHvZh8qDn4Hor7r6a0xetFDB0JAMetXeHwNghCFd2yoYZtJbMpMgbB8pAj1qBxRS9wsIOg20jyjlG0eVDVex1BdwHjF23abOsiWYEyOU789aD8fxC5c0u3HcAmAxn/ipj4+6E7osyqN1MjN6jyiqxnidAZnedJ5iDvy1mkjBJtglO0kTsFjsiiQCCem0bR+Pzq8wXFEJ0YD8KpeE2GcBUXM0ExB2Ek7A/lUHbcR60dNmdWGmIxLx4CSfXl5VEL3o2J+A/pQ+bDLEyOY3Hyp7v7h38XqaDiNHgm3DrqAD5RH4aUlbjIwuWzDL+I6HqPKoYvwJINKsX1Z1FyRb5gbkfuKLi7NNSqiRiMTcuPmutP6eg2FIxIJTT4ioiX8zEnrtyFS+9rmnY0WnGi5scWtlBLwYGhBqi47xBLihVJJmfTemsRFQrglhPSPlTJbJmNJMixXopXlXoo0AueyT5cQvn/UUfdqruXDMRy0+YIrMMLiDbYOurDaRptUziHG715FV7jHfMuwOsgwNCeXwqbJhcpqRTjzqEKIVoV7NXLdcIqrsT2cptqW1NNRZ1ixtSYry14UAWM3BT1nG3FGUO2X7uZgPkDTd2r3hPYvFYi13toJlMxLgEwYkeVCTS5Oim+Ctu8ZumwbBb6svnO5MwBEknw6Ax1qvqXxXhlzDv3d5crb7giPUaVEFBVVoLbumS8Hj3tyFOhIJHmKuk7TTlzAjUk897tp/yVvkKGq9FLKCfJym1wGnD+OKwGsEZz0n6i+NPiy0/ax6FrecK31uAXxKDoLGvTnQOr6z+9q6l5hEE6EEeo2PwpJYVWw6ye4VWLloopyLJw2K5H3hdYqdDvAqdhyhzMqtITD3BDtyQZo131OvLlQSl9hAB0AKjyBmR8ZNWnCcV4octlygQozaDbw0Xjfv+Wcpr2Cez3Sv3ZAy/SLtkyxPguLmtnbZXEimL+GR/FBtkkn3kQGYJgEcmziOUCepHeIYlszDaSp93KZWYMSTNXnZvGq4uLeBaGzLDKILyW0PmJ+NLokt7Gc17FS5KrmIG40I1A1Ok7TrRYnBU+hlcozsuaY1B3GvlMUKcctBMRfVRCrduBR0AYgD5USYHEu1hyzEkA//AFoZ26Ve4emSbaZXcE4h9GUMkBysGROhg/mKrcPiWS4LltiGBJDGCdiJ6U19qaljW2evXn7w51uicfx/ELl45rjT6AADroP1qOAOtQi2tPKaDRpGXYU7gU1ccaee/pSLp3qw7NLN0zr4T+lHtYNRCRx01p/vI0g1Hf32/wAR/OpWGWWANd7DRkMs/lFQ8QNRV3jrhWAug8qpsWNv3yFFfpF1WNL515QI2pFdG4rjrFXPKm6VRJ2O4bauljcQNG0k/lMGknJRVsMIubpA9apLmtE7YYK2MMSqKMuQrAiJ0MR1rO/vfvmK7FkU1YckHB0NZqSa4a4acysUprpFJFdoo48igsMxgdf3ymK3XsmUTDWEDAgqAD10n48zWIcO/tbf+JfzrT2cp9ACeEG+ywNsoDwPTQVJ1T3ii3pIqm2UPtUw8OjDnofUT+EEfKgGK0n2nDwt/it/jnn8h8qzem6V/wDUjPq41kPV2K8tdNUkwmK9FdNeFA44BU/hLgOJMb/uJg/GoXP41N4Oga6oP9OY6UGMkKxVuGMkH0j8hpRh2ZwNzuRcw6K2f381zLDKSPd1jr8fKqnimFUSQNTkkkk7nXc0eYPCJbthUUAAtp+/zpZypbhUdTpH/9k=', NULL)
GO
SET IDENTITY_INSERT [dbo].[Artists] OFF
GO
SET IDENTITY_INSERT [dbo].[Tracks] ON 

GO
INSERT [dbo].[Tracks] ([Id], [ArtistId], [AlbumId], [SongName], [Length], [Bytes], [UnitPrice]) VALUES (1, 0, 1, N'For Those About To Rock (We Salute You)', N'5:03', 11170334, CAST(0.99 AS Decimal(10, 2)))
GO
INSERT [dbo].[Tracks] ([Id], [ArtistId], [AlbumId], [SongName], [Length], [Bytes], [UnitPrice]) VALUES (2, 0, 2, N'Balls to the Wall', N'5:02', 5510424, CAST(0.99 AS Decimal(10, 2)))
GO
INSERT [dbo].[Tracks] ([Id], [ArtistId], [AlbumId], [SongName], [Length], [Bytes], [UnitPrice]) VALUES (3, 0, 3, N'Fast As a Shark', N'3:10', 3990994, CAST(0.99 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[Tracks] OFF
GO
