<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Web Connection Albumviewer Sample Application">

    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="~/touch-icon.png" />

    <link rel="icon" href="~/touch-icon.png" />
    <meta name="msapplication-TileImage" content="touch-icon.png">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
     <![endif]-->

    <title>West Wind Album Viewer (ASP.NET Core Version)</title>
    <!--<link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="css/bootstrap-theme.css" rel="stylesheet"/>-->
    <link href="~/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <link href="css/albumviewer.css" rel="stylesheet" />
</head>
<body ng-app="app">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="headerController">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div style="position: absolute; top: 3px; left: 6px;">
                    <a href="#/albums">
                        <img src="~/images/headphone-head.png" style="height: 45px;float:left" />
                        <div style="float: left;margin-left: 5px; line-height: 1.2">
                            <i style="color: steelblue;font-size: 1em; font-weight: bold;">West Wind</i><br />
                            <i style="color: whitesmoke; font-size: 1.7em;font-weight: bold;">Music Store MVC</i>
                        </div>
                    </a>
                </div>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="albums" ng-class="{ selected: activeTab == 'albums'}">Albums</a></li>
                    <li><a href="artists" ng-class="{ selected: activeTab == 'artists'}">Artists</a></li>
                    <li><a href="about" ng-class="{ selected: activeTab == 'about'}">About</a></li>
                </ul>
                <form id="SearchBoxForm" class="navbar-form navbar-right" ng-show="searchVisible">
                    <input id="SearchBox" type="text" class="form-control" placeholder="Search..."
                           ng-model="searchText"
                           ng-keyup="onKey()" ng-blur="searchBlur()">
                </form>
            </div>

        </div>
    </div>

    <div style="margin-top: 60px;padding: 10px;">
        <div id="MainView" autoscroll=""
             ng-view>
            @RenderBody()
        </div>
    </div>

    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/ww.jquery.min.js"></script>
    <script src="scripts/ww.angular.js"></script>
    <script src="scripts/lodash.min.js"></script>
    <script src="scripts/fastclick.min.js"></script>
    <script>
        // hook up fast click for mobile devices - avoid 300ms delay
        //window.addEventListener('load', function () {
        //    FastClick.attach(document.body);
        //}, false);

        // enable animations on all screens for small screen sizes
        var width = $(window).width();
        if (width < 769)
            // make every animation a slide animation
            // otherwise only view/edit are
            $("#MainView").addClass("slide-animation");

        // close menu after click
        $(".navbar-nav li a").on('click', function () {
            if ($(window).width() < 769)
                $(".navbar-collapse").collapse('hide');
        });
        $("#SearchBox").on("keydown", function (e) {
            if ($(window).width() > 768)
                return;

            if (e.keyCode == 13 || e.keyCode == 27 || e.keyCode == 9)
                $(".navbar-collapse").collapse('hide');
        });
    </script>



    <script src="scripts/angular/angular.min.js"></script>
    <script src="scripts/angular/angular-route.min.js"></script>
    <script src="scripts/angular/angular-animate.min.js"></script>
    <script src="scripts/angular/angular-sanitize.min.js"></script>
    <script src="scripts/angular/angular-touch.js"></script>

    <!--<script src="../scripts/ww.angular.min.js"></script>-->
    <script src="css/bootstrap.min.js"></script>


    <!-- combined app scripts - build with gulp -->
    <!--<script src="build/app.js"></script>-->

    <script src="app/js/app.js"></script>
    <script src="app/js/controllers.js"></script>
    <script src="app/js/albumService.js"></script>
    <script src="app/js/albumsController.js"></script>
    <script src="app/js/albumController.js"></script>
    <script src="app/js/artistController.js"></script>
</body>
</html>