@model AspVNextFromScratch.Person
@{    
    Layout = null;    
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head></head>
<body>
    <h1>Hello World from MVC</h1>
    <hr />

    What's up, @Model.Name? How's life in @Model.Address.City?

    <hr />
    Version: @AspVNextFromScratch.Startup.GetKlrVersion()
</body>
</html>